# 1. Find the Sum of All Elements in a List
## Problem Statement:
Write a function to return the sum of all elements in a list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `15`

## Example 2:
**Input:** `[10, -2, 3]`  
**Output:** `11`

In [2]:
def sum_list(lst):
    total = 0
    for num in lst:
        total += num
    return total

In [61]:


input = [1, 2, 3, 4, 5]
output = sum_list(input1)
print(input)
print(output)

[1, 2, 3, 4, 5]
14

# 2. Find the Maximum Element in a List
## Problem Statement:
Write a function to find the maximum element in a list.

## Example 1:
**Input:** `[3, 5, 1, 9, 2]`  
**Output:** `9`

## Example 2:
**Input:** `[10, 22, 5, 8]`  
**Output:** `22`

In [62]:
def function(l):
    max=l[0]
    for i in l:
        if i>max:
            max=i

    return max

In [63]:
a=[1,2,3,4,5,2]
output=function(a)
print(output)

5

# 3. Find the Minimum Element in a List
## Problem Statement:
Write a function to find the minimum element in a list.

## Example 1:
**Input:** `[4, 7, 1, 9]`  
**Output:** `1`

## Example 2:
**Input:** `[10, 15, 3, 8]`  
**Output:** `3`

In [64]:
def function_for_min(l):
    min=l[0]
    for i in l:
        if i<min:
            min=i

    return min

In [65]:
a=[1,2,3,4,5,2]
output=function_for_min(a)
print(output)

1

# 4. Reverse a List
## Problem Statement:
Write a function to reverse a given list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `[5, 4, 3, 2, 1]`

## Example 2:
**Input:** `["a", "b", "c", "d"]`  
**Output:** `["d", "c", "b", "a"]`

In [18]:
def reverse_list(lst):
    reversed_list = []
    for i in range(len(lst)-1, -1, -1):
        reversed_list.append(lst[i])
    return reversed_list

In [66]:

input = ["a", "b", "c", "d"]
output = reverse_list(input2)
print(input)
print(output)

['a', 'b', 'c', 'd']
[6, 4, 2]

# 5. Check if a List is Palindromic
## Problem Statement:
Write a function to check if a list is the same forward and backward.

## Example 1:
**Input:** `[1, 2, 3, 2, 1]`  
**Output:** `True`

## Example 2:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `False`

In [67]:
def is_palindrome(lst):
    return lst == lst[::-1]

In [68]:
input1 = [1, 2, 3, 2, 1]
output1 = is_palindrome(input1)
print(input1)
print(output1)

[1, 2, 3, 2, 1]
True

# 6. Count the Frequency of Elements in a List
## Problem Statement:
Write a function to count the occurrences of each element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `{1: 1, 2: 2, 3: 3}`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "c"]`  
**Output:** `{"a": 2, "b": 1, "c": 3}`

In [17]:
def count_frequency(lst):
    result = {}
    for i in lst:
        if i in result:
            result[i] += 1
        else:
            result[i] = 1
    return result

input_list = [1, 2, 2, 2, 3, 3, 3]
output = count_frequency(input_list)
print(input_list)
print(output)

[1, 2, 2, 2, 3, 3, 3]
{1: 1, 2: 3, 3: 3}

# 7. Find the Second Largest Number in a List
## Problem Statement:
Write a function to find the second largest number in a list.

## Example 1:
**Input:** `[10, 20, 4, 45, 99]`  
**Output:** `45`

## Example 2:
**Input:** `[3, 5, 7, 7, 8]`  
**Output:** `7`

In [21]:
def second_largest(nums):
    unique_nums = list(set(nums))
    unique_nums.sort(reverse=True)
    if len(unique_nums) < 2:
        return None
    return unique_nums[1]

In [22]:
input2 = [3, 5, 7, 7, 8]
output2 = second_largest(input2)
print(input2)
print(output2)

[3, 5, 7, 7, 8]
7

# 8. Merge Two Sorted Lists
## Problem Statement:
Write a function to merge two sorted lists into a single sorted list.

## Example 1:
**Input:** `[1, 3, 5]`, `[2, 4, 6]`  
**Output:** `[1, 2, 3, 4, 5, 6]`

## Example 2:
**Input:** `[0, 2, 8]`, `[1, 3, 7]`  
**Output:** `[0, 1, 2, 3, 7, 8]`

In [23]:
def merge_sorted_lists(l1, l2):
    result = []
    i = j = 0
    while i < len(l1) and j < len(l2):
        if l1[i] < l2[j]:
            result.append(l1[i])
            i += 1
        else:
            result.append(l2[j])
            j += 1
    result.extend(l1[i:])
    result.extend(l2[j:])
    return result

In [24]:
input1 = [0, 2, 8]
input2 = [1, 3, 7]
output = merge_sorted_lists(input1, input2)
print(input1)
print(input2)
print(output)

[0, 2, 8]
[1, 3, 7]
[0, 1, 2, 3, 7, 8]

# 9. Remove Duplicates from a List
## Problem Statement:
Write a function to remove duplicate elements from a list while maintaining order.

## Example 1:
**Input:** `[1, 2, 2, 3, 4, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [25]:
def remove_duplicates(lst):
    result = []
    seen = set()
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

In [26]:
input1 = [1, 2, 2, 3, 4, 4, 5]
output1 = remove_duplicates(input1)
print(input1)
print(output1)

[1, 2, 2, 3, 4, 4, 5]
[1, 2, 3, 4, 5]

# 10. Rotate a List by k Positions
## Problem Statement:
Write a function to rotate a list by `k` positions to the right.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `k=2`  
**Output:** `[4, 5, 1, 2, 3]`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `[30, 40, 50, 10, 20]`

In [27]:
def rotate_list(lst, k):
    k = k % len(lst)
    return lst[-k:] + lst[:-k]

In [28]:
input1 = [1, 2, 3, 4, 5]
k1 = 2
output1 = rotate_list(input1, k1)
print(input1)
print(output1)

[1, 2, 3, 4, 5]
[4, 5, 1, 2, 3]

# 11. Find the Intersection of Two Lists
## Problem Statement:
Write a function to find the common elements between two lists.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[3, 4, 5, 6]`  
**Output:** `[3, 4]`

## Example 2:
**Input:** `["apple", "banana", "cherry"]`, `["banana", "cherry", "date"]`  
**Output:** `["banana", "cherry"]`

In [32]:
def intersection(l1, l2):
    res = []
    for i in range(min(len(l1), len(l2))):
        if l1[i] == l2[i]:
            res.append(l1[i])
    return res

In [33]:
input1 = [1, 2, 3, 4]
input2 = [1, 5, 3, 0]
output = intersection(input1, input2)
print(input1)
print(input2)
print(output)

[1, 2, 3, 4]
[1, 5, 3, 0]
[1, 3]

# 12. Find the Union of Two Lists
## Problem Statement:
Write a function to return the union of two lists (without duplicates).

## Example 1:
**Input:** `[1, 2, 3]`, `[3, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "c"]`, `["b", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [34]:
def union_lists(l1, l2):
    result = []
    for item in l1:
        if item not in result:
            result.append(item)
    for item in l2:
        if item not in result:
            result.append(item)
    return result

In [35]:
input1 = [1, 2, 3]
input2 = [3, 4, 5]
output1 = union_lists(input1, input2)
print(input1)
print(input2)
print(output1)

[1, 2, 3]
[3, 4, 5]
[1, 2, 3, 4, 5]

# 13. Find the Difference Between Two Lists
## Problem Statement:
Write a function to return elements present in the first list but not in the second.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[2, 4, 6]`  
**Output:** `[1, 3]`

## Example 2:
**Input:** `["cat", "dog", "rabbit"]`, `["dog", "rabbit"]`  
**Output:** `["cat"]`

In [36]:
def difference(l1, l2):
    result = []
    for item in l1:
        if item not in l2:
            result.append(item)
    return result

input1 = [1, 2, 3, 4]
input2 = [2, 4, 6]
output = difference(input1, input2)
print(input1)
print(input2)
print(output)

[1, 2, 3, 4]
[2, 4, 6]
[1, 3]

# 14. Find the Mode of a List
## Problem Statement:
Write a function to return the most frequently occurring element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `3`

## Example 2:
**Input:** `["apple", "banana", "apple", "cherry", "apple"]`  
**Output:** `"apple"`

In [59]:
def find_mode(lst):
    frequency = {}
    max_count = 0
    mode = None
    for item in lst:
        frequency[item] = frequency.get(item, 0) + 1
        if frequency[item] > max_count:
            max_count = frequency[item]
            mode = item
    return mode

In [60]:
input1 = [1, 2, 2, 3, 3, 3]
output1 = find_mode(input1)
print(input1)
print(output1)

[1, 2, 2, 3, 3, 3]
3

# 15. Flatten a Nested List
## Problem Statement:
Write a function to flatten a nested list into a single list.

## Example 1:
**Input:** `[[1, 2, [3]], 4]`  
**Output:** `[1, 2, 3, 4]`

## Example 2:
**Input:** `[["a", ["b", "c"]], "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [39]:
def flatten(nested_list):
    result = []
    for item in nested_list:
        if isinstance(item, list):
            result.extend(flatten(item))
        else:
            result.append(item)
    return result

input_list = [[1, 2, [3]], 4]
output = flatten(input_list)
print(input_list)
print(output)

[[1, 2, [3]], 4]
[1, 2, 3, 4]

# 16. Find Pairs in a List That Sum to a Target Value
## Problem Statement:
Write a function to find all pairs in a list that sum to a given target.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `target=6`  
**Output:** `[(1, 5), (2, 4)]`

## Example 2:
**Input:** `[2, 4, 6, 8]`, `target=10`  
**Output:** `[(2, 8), (4, 6)]`

In [38]:
def find_pairs(lst, target):
    seen = set()
    pairs = []
    for num in lst:
        complement = target - num
        if complement in seen:
            pairs.append((complement, num))
        seen.add(num)
    return pairs

input_list = [1, 2, 3, 4, 5]
target = 6
output = find_pairs(input_list, target)
print(input_list)
print(output)

[1, 2, 3, 4, 5]
[(2, 4), (1, 5)]

# 17. Find the Product of All Elements Except Self
## Problem Statement:
Write a function that returns a list where each index contains the product of all numbers except the number at that index.

## Example 1:
**Input:** `[1, 2, 3, 4]`  
**Output:** `[24, 12, 8, 6]`

## Example 2:
**Input:** `[5, 6, 7]`  
**Output:** `[42, 35, 30]`

In [41]:
def product_except_self(nums):
    length = len(nums)
    left_products = [1] * length
    right_products = [1] * length
    result = [1] * length

    for i in range(1, length):
        left_products[i] = left_products[i - 1] * nums[i - 1]

    for i in range(length - 2, -1, -1):
        right_products[i] = right_products[i + 1] * nums[i + 1]

    for i in range(length):
        result[i] = left_products[i] * right_products[i]

    return result

input_list = [1, 2, 3, 4]
output = product_except_self(input_list)
print(input_list)
print(output)

[1, 2, 3, 4]
[24, 12, 8, 6]

# 18. Find the Longest Consecutive Sequence in a List
## Problem Statement:
Write a function to find the longest sequence of consecutive numbers in a list.

## Example 1:
**Input:** `[100, 4, 200, 1, 3, 2]`  
**Output:** `4  (sequence: [1, 2, 3, 4])`

## Example 2:
**Input:** `[10, 11, 12, 50, 51, 52]`  
**Output:** `3  (sequence: [10, 11, 12])`

In [42]:
def longest_consecutive(nums):
    num_set = set(nums)
    longest = 0

    for num in num_set:
        if num - 1 not in num_set:
            length = 1
            current = num + 1
            while current in num_set:
                length += 1
                current += 1
            longest = max(longest, length)
    return longest

input_list = [100, 4, 200, 1, 3, 2]
output = longest_consecutive(input_list)
print(input_list)
print(output)

[100, 4, 200, 1, 3, 2]
4

# 19. Check if a List Contains a Sublist
## Problem Statement:
Write a function to check if a list contains a given sublist.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `[3, 4]`  
**Output:** `True`

## Example 2:
**Input:** `[10, 20, 30, 40]`, `[20, 50]`  
**Output:** `False`

In [43]:
def contains_sublist(lst, sublst):
    sub_len = len(sublst)
    for i in range(len(lst) - sub_len + 1):
        if lst[i:i + sub_len] == sublst:
            return True
    return False

input_list = [1, 2, 3, 4, 5]
sublist = [3, 4]
output = contains_sublist(input_list, sublist)
print(input_list)
print(sublist)
print(output)

[1, 2, 3, 4, 5]
[3, 4]
True

# 20. Find the Kth Largest Element in a List
## Problem Statement:
Write a function to find the `k`th largest element in a list.

## Example 1:
**Input:** `[3, 2, 1, 5, 6, 4]`, `k=2`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `30`

In [44]:
def kth_largest(nums, k):
    nums.sort(reverse=True)
    return nums[k-1]

input_list = [3, 2, 1, 5, 6, 4]
k = 2
output = kth_largest(input_list, k)
print(input_list)
print(output)

[6, 5, 4, 3, 2, 1]
5

# 21. Find All Duplicates in a List
## Problem Statement:
Write a function to return a list of all duplicate elements.

## Example 1:
**Input:** `[1, 2, 3, 4, 2, 3, 5]`  
**Output:** `[2, 3]`

## Example 2:
**Input:** `[10, 10, 20, 30, 30]`  
**Output:** `[10, 30]`

In [57]:
def find_duplicates(lst):
    seen = set()
    duplicates = set()
    for num in lst:
        if num in seen:
            duplicates.add(num)
        else:
            seen.add(num)
    return list(duplicates)

In [58]:
input = [1, 2, 3, 4, 2, 3, 5]
output = find_duplicates(input1)
print(input)
print(output)

[1, 2, 3, 4, 2, 3, 5]
[2, 3]

# 22. Partition a List into Even and Odd Elements
## Problem Statement:
Write a function to split a list into two separate lists, one containing even numbers and the other containing odd numbers.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `([2, 4], [1, 3, 5])`

## Example 2:
**Input:** `[10, 15, 20, 25]`  
**Output:** `([10, 20], [15, 25])`

In [55]:
def split_even_odd(lst):
    evens = []
    odds = []
    for num in lst:
        if num % 2 == 0:
            evens.append(num)
        else:
            odds.append(num)
    return evens, odds

In [56]:
input1 = [1, 2, 3, 4, 5]
output1 = split_even_odd(input1)
print(input1)
print(output1)

[1, 2, 3, 4, 5]
([2, 4], [1, 3, 5])

# 23. Find the First Non-Repeating Element in a List
## Problem Statement:
Write a function to find the first element that does not repeat.

## Example 1:
**Input:** `[4, 5, 1, 2, 0, 4]`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 10, 30, 20]`  
**Output:** `30`

In [53]:
def first_non_repeating(lst):
    freq = {}
    for num in lst:
        freq[num] = freq.get(num, 0) + 1
    for num in lst:
        if freq[num] == 1:
            return num
    return None

In [54]:

input1 = [4, 5, 1, 2, 0, 4]
output1 = first_non_repeating(input1)
print(input1)
print(output1)

[4, 5, 1, 2, 0, 4]
5

# 24. Sort a List Without Using Built-in Sort
## Problem Statement:
Write a function to sort a list in ascending order without using Pythonâ€™s built-in sort.

## Example 1:
**Input:** `[3, 1, 4, 1, 5, 9]`  
**Output:** `[1, 1, 3, 4, 5, 9]`

## Example 2:
**Input:** `[10, 5, 2, 8]`  
**Output:** `[2, 5, 8, 10]`

In [51]:
def sort_list(lst):
    for i in range(len(lst)):
        for j in range(i + 1, len(lst)):
            if lst[j] < lst[i]:
                lst[i], lst[j] = lst[j], lst[i]
    return lst

In [52]:
input = [3, 1, 4, 1, 5, 9]
output = sort_list(input1.copy())
print(input)
print(output)

[3, 1, 4, 1, 5, 9]
[-4, -1, -1, 0, 1, 2]

# 25. Find All Triplets That Sum to Zero
## Problem Statement:
Write a function to find all triplets in a list that sum to zero.

## Example 1:
**Input:** `[-1, 0, 1, 2, -1, -4]`  
**Output:** `[[-1, -1, 2], [-1, 0, 1]]`

## Example 2:
**Input:** `[1, -2, 1, 0, 5]`  
**Output:** `[[-2, 1, 1]]`

In [45]:
def three_sum(nums):
    nums.sort()
    res = []
    for i in range(len(nums)-2):
        if i > 0 and nums[i] == nums[i-1]:
            continue
        left, right = i+1, len(nums)-1
        while left < right:
            total = nums[i] + nums[left] + nums[right]
            if total == 0:
                res.append([nums[i], nums[left], nums[right]])
                while left < right and nums[left] == nums[left+1]:
                    left += 1
                while left < right and nums[right] == nums[right-1]:
                    right -= 1
                left += 1
                right -= 1
            elif total < 0:
                left += 1
            else:
                right -= 1
    return res

In [47]:
input = [-1, 0, 1, 2, -1, -4]
output = three_sum(input1)
print(input)
print(output)

[-1, 0, 1, 2, -1, -4]
[[-1, -1, 2], [-1, 0, 1]]