# 1. Find the Sum of All Elements in a List
## Problem Statement:
Write a function to return the sum of all elements in a list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `15`

## Example 2:
**Input:** `[10, -2, 3]`  
**Output:** `11`

In [14]:
l1=[10,-2,3]
def calc_sum(x):
    sum=0
    for i in x:
        sum +=i
    return sum
calc_sum(l1)

11

# 2. Find the Maximum Element in a List
## Problem Statement:
Write a function to find the maximum element in a list.

## Example 1:
**Input:** `[3, 5, 1, 9, 2]`  
**Output:** `9`

## Example 2:
**Input:** `[10, 22, 5, 8]`  
**Output:** `22`

In [ ]:
list1=[10,22,5,8]
def max_num(x):
    max_num= x[0]
    for i in x[1:]:
        if i > max_num:
            max_num = i
    print(max_num)
max_num(list1)

22

# 3. Find the Minimum Element in a List
## Problem Statement:
Write a function to find the minimum element in a list.

## Example 1:
**Input:** `[4, 7, 1, 9]`  
**Output:** `1`

## Example 2:
**Input:** `[10, 15, 3, 8]`  
**Output:** `3`

In [29]:
list1=[10,22,5,8]
def min_num(x):
    min_num= x[0]
    for i in x[1:]:
        if i < min_num:
            min_num = i
    print(min_num)
max_num(list1)

5

# 4. Reverse a List
## Problem Statement:
Write a function to reverse a given list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `[5, 4, 3, 2, 1]`

## Example 2:
**Input:** `["a", "b", "c", "d"]`  
**Output:** `["d", "c", "b", "a"]`

In [33]:
def revrse_list(x):
    ls = x[::-1]
    print(ls)
input1=["a","b","c","d"]
revrse_list(input1)

['d', 'c', 'b', 'a']

# 5. Check if a List is Palindromic
## Problem Statement:
Write a function to check if a list is the same forward and backward.

## Example 1:
**Input:** `[1, 2, 3, 2, 1]`  
**Output:** `True`

## Example 2:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `False`

In [38]:
def check_palindromic_list(x):
    if x == x[::-1]:
        return True
    else:
        return False
    
check_palindromic_list([1,2,3,2,1])
# check_palindromic_list([1,2,3,4,5])

True

# 6. Count the Frequency of Elements in a List
## Problem Statement:
Write a function to count the occurrences of each element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `{1: 1, 2: 2, 3: 3}`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "c"]`  
**Output:** `{"a": 2, "b": 1, "c": 3}`

In [ ]:
list_in=[1,2,2,3,3]
def count_freg(x):
    freq_count={}
    for i in x:
        freq_count[i]=freq_count.get(i,0)+1
    return freq_count
count_freg(list_in)

{1: 1, 2: 2, 3: 2}

# 7. Find the Second Largest Number in a List
## Problem Statement:
Write a function to find the second largest number in a list.

## Example 1:
**Input:** `[10, 20, 4, 45, 99]`  
**Output:** `45`

## Example 2:
**Input:** `[3, 5, 7, 7, 8]`  
**Output:** `7`

In [ ]:
def secound_largest_number(x):
    x=sorted(x)
    y=x[::-1]
    return y[1]
secound_largest_number([10,20,4,45,99])

20

# 8. Merge Two Sorted Lists
## Problem Statement:
Write a function to merge two sorted lists into a single sorted list.

## Example 1:
**Input:** `[1, 3, 5]`, `[2, 4, 6]`  
**Output:** `[1, 2, 3, 4, 5, 6]`

## Example 2:
**Input:** `[0, 2, 8]`, `[1, 3, 7]`  
**Output:** `[0, 1, 2, 3, 7, 8]`

In [44]:
def merge_two_sorted(x,y):
    z=sorted(x+y)
    return z
merge_two_sorted([1,5,3],[8,7,6])

[1, 3, 5, 6, 7, 8]

# 9. Remove Duplicates from a List
## Problem Statement:
Write a function to remove duplicate elements from a list while maintaining order.

## Example 1:
**Input:** `[1, 2, 2, 3, 4, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [54]:
def remove_duplicates(x):
    y=list(dict.fromkeys(x))
    return y
remove_duplicates([1,2,2,3,3,4,5])
remove_duplicates(['a','b','a','c','c','d'])

['a', 'b', 'c', 'd']

# 10. Rotate a List by k Positions
## Problem Statement:
Write a function to rotate a list by `k` positions to the right.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `k=2`  
**Output:** `[4, 5, 1, 2, 3]`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `[30, 40, 50, 10, 20]`

In [67]:
def rotate_list(x,k):
    return x[-k:]+x[:-k]
rotate_list([1,2,3,4,5],2)

[4, 5, 1, 2, 3]

# 11. Find the Intersection of Two Lists
## Problem Statement:
Write a function to find the common elements between two lists.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[3, 4, 5, 6]`  
**Output:** `[3, 4]`

## Example 2:
**Input:** `["apple", "banana", "cherry"]`, `["banana", "cherry", "date"]`  
**Output:** `["banana", "cherry"]`

In [76]:
def intersection(x,y):
    ls=[]
    for i in x:
        for j in y:
            if i==j:
                ls.append(i)
    return ls
intersection([1,2,3,4],[3,4,5,6])
intersection(["apple", "banana", "cherry"], ["banana", "cherry", "date"])

['banana', 'cherry']

# 12. Find the Union of Two Lists
## Problem Statement:
Write a function to return the union of two lists (without duplicates).

## Example 1:
**Input:** `[1, 2, 3]`, `[3, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "c"]`, `["b", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [80]:
def union(x,y):
    z=x+y
    a=remove_duplicates(z)
    return a
union([1,2,3,4],[3,4,5,6])

[1, 2, 3, 4, 5, 6]

# 13. Find the Difference Between Two Lists
## Problem Statement:
Write a function to return elements present in the first list but not in the second.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[2, 4, 6]`  
**Output:** `[1, 3]`

## Example 2:
**Input:** `["cat", "dog", "rabbit"]`, `["dog", "rabbit"]`  
**Output:** `["cat"]`

In [109]:
def diffrence(x,y):
    x = set(x)
    y= set(y)
    z =x-y
    return z
# diffrence([1,2,3,4],[3,4,5,6])
diffrence(["apple", "banana", "cherry"], ["banana", "cherry", "date"])

{'apple'}

# 14. Find the Mode of a List
## Problem Statement:
Write a function to return the most frequently occurring element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `3`

## Example 2:
**Input:** `["apple", "banana", "apple", "cherry", "apple"]`  
**Output:** `"apple"`

In [1]:
def mostFreqEle(arr):
    n = len(arr)
    maxcount = 0
    res = 0
    for i in range(n):
        count = 0
        for j in range(n):
            if arr[i] == arr[j]:
                count += 1
        if count > maxcount or (count == maxcount and arr[i] > res):
            maxcount = count
            res = arr[i]

    return res

if __name__ == "__main__":
    # arr = [1,2,2,2,3,3,3,3,3,3]
    arr  = ["apple", "banana", "apple", "cherry", "apple"]
    print(mostFreqEle(arr))

apple

# 15. Flatten a Nested List
## Problem Statement:
Write a function to flatten a nested list into a single list.

## Example 1:
**Input:** `[[1, 2, [3]], 4]`  
**Output:** `[1, 2, 3, 4]`

## Example 2:
**Input:** `[["a", ["b", "c"]], "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [ ]:
def flatten_deep(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten_deep(item))
        else:
            flat_list.append(item)
    return flat_list
deeply_nested_list = [[1, [2, 3]], [4, [5, [6]]]]
flattened_list = flatten_deep(deeply_nested_list)
print(flattened_list)

[1, 2, 3, 4, 5, 6]

# 16. Find Pairs in a List That Sum to a Target Value
## Problem Statement:
Write a function to find all pairs in a list that sum to a given target.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `target=6`  
**Output:** `[(1, 5), (2, 4)]`

## Example 2:
**Input:** `[2, 4, 6, 8]`, `target=10`  
**Output:** `[(2, 8), (4, 6)]`

In [18]:
num = [1,2,3,4,5,6,9,5]
target=10
def find_pairs(nums, target):
    seen = set()
    pairs = []

    for num in nums:
        complement = target - num
        if complement in seen:
            pairs.append((complement, num))
        seen.add(num)

    return pairs
find_pairs(num,target)

[(4, 6), (1, 9), (5, 5)]

# 17. Find the Product of All Elements Except Self
## Problem Statement:
Write a function that returns a list where each index contains the product of all numbers except the number at that index.

## Example 1:
**Input:** `[1, 2, 3, 4]`  
**Output:** `[24, 12, 8, 6]`

## Example 2:
**Input:** `[5, 6, 7]`  
**Output:** `[42, 35, 30]`

In [53]:
def product_except_self(arr):
    n = len(arr)
    res = [1] * n
    x = 1
    for i in range(n):
        res[i] = x
        x *= arr[i]
    y = 1
    for j in range(n - 1, -1, -1):
        res[j] *= y
        y *= arr[j]

    return res
product_except_self([1,2,3,4])

[24, 12, 8, 6]

# 18. Find the Longest Consecutive Sequence in a List
## Problem Statement:
Write a function to find the longest sequence of consecutive numbers in a list.

## Example 1:
**Input:** `[100, 4, 200, 1, 3, 2]`  
**Output:** `4  (sequence: [1, 2, 3, 4])`

## Example 2:
**Input:** `[10, 11, 12, 50, 51, 52]`  
**Output:** `3  (sequence: [10, 11, 12])`

In [31]:
def longest_consecutive(arr):
    s = set(arr)
    max_len = 0

    for x in s:
        if x - 1 not in s:
            y = x
            count = 1
            while y + 1 in s:
                y += 1
                count += 1
            max_len = max(max_len, count)

    return max_len
longest_consecutive([10,11,12,50,51,52])

3

# 19. Check if a List Contains a Sublist
## Problem Statement:
Write a function to check if a list contains a given sublist.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `[3, 4]`  
**Output:** `True`

## Example 2:
**Input:** `[10, 20, 30, 40]`, `[20, 50]`  
**Output:** `False`

In [32]:
def find_sublist(a, b):
    n = len(a)
    m = len(b)

    for i in range(n - m + 1):
        match = True
        for j in range(m):
            if a[i + j] != b[j]:
                match = False
                break
        if match:
            return True
    return False
find_sublist([1,2,3,4,5],[3,4])

True

# 20. Find the Kth Largest Element in a List
## Problem Statement:
Write a function to find the `k`th largest element in a list.

## Example 1:
**Input:** `[3, 2, 1, 5, 6, 4]`, `k=2`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `30`

In [ ]:
def kth_largest(nums, k):
    return sorted(nums, reverse=True)[k-1]
print(kth_largest([3, 2, 1, 5, 6, 4], 4))

3

# 21. Find All Duplicates in a List
## Problem Statement:
Write a function to return a list of all duplicate elements.

## Example 1:
**Input:** `[1, 2, 3, 4, 2, 3, 5]`  
**Output:** `[2, 3]`

## Example 2:
**Input:** `[10, 10, 20, 30, 30]`  
**Output:** `[10, 30]`

In [ ]:
def find_duplicates(a):
    seen = set()
    dupes = set()
    for x in a:
        if x in seen:
            dupes.add(x)
        else:
            seen.add(x)
    return list(dupes)
find_duplicates([1, 2, 3, 4, 2, 3, 5])

[2, 3]

# 22. Partition a List into Even and Odd Elements
## Problem Statement:
Write a function to split a list into two separate lists, one containing even numbers and the other containing odd numbers.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `([2, 4], [1, 3, 5])`

## Example 2:
**Input:** `[10, 15, 20, 25]`  
**Output:** `([10, 20], [15, 25])`

In [50]:
def even_odd_list(x):
    even_list = []
    odd_list = []
    for i in x:
        if i % 2 == 0:
            even_list.append(i)
        else:
            odd_list.append(i)
    return even_list, odd_list
even_odd_list([1,2,3,4,5])

([2, 4], [1, 3, 5])

# 23. Find the First Non-Repeating Element in a List
## Problem Statement:
Write a function to find the first element that does not repeat.

## Example 1:
**Input:** `[4, 5, 1, 2, 0, 4]`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 10, 30, 20]`  
**Output:** `30`

In [51]:
def first_non_repeating(a):
    count = {}

    for x in a:
        if x in count:
            count[x] += 1
        else:
            count[x] = 1

    for y in a:
        if count[y] == 1:
            return y

    return None
first_non_repeating([4,5,1,2,0,4])

5

# 24. Sort a List Without Using Built-in Sort
## Problem Statement:
Write a function to sort a list in ascending order without using Pythonâ€™s built-in sort.

## Example 1:
**Input:** `[3, 1, 4, 1, 5, 9]`  
**Output:** `[1, 1, 3, 4, 5, 9]`

## Example 2:
**Input:** `[10, 5, 2, 8]`  
**Output:** `[2, 5, 8, 10]`

In [52]:
def sorting(a):
    n = len(a)
    for i in range(n):
        for j in range(0, n - i - 1):
            if a[j] > a[j + 1]:
                a[j], a[j + 1] = a[j + 1], a[j]
    return a
sorting([3, 1, 4, 1, 5, 9])

[1, 1, 3, 4, 5, 9]

# 25. Find All Triplets That Sum to Zero
## Problem Statement:
Write a function to find all triplets in a list that sum to zero.

## Example 1:
**Input:** `[-1, 0, 1, 2, -1, -4]`  
**Output:** `[[-1, -1, 2], [-1, 0, 1]]`

## Example 2:
**Input:** `[1, -2, 1, 0, 5]`  
**Output:** `[[-2, 1, 1]]`