In [1]:

'''Reverse a String
Task: Write a function that takes a string and returns it reversed.
Input: "hello"
Output: "olleh"
'''

'Reverse a String\nTask: Write a function that takes a string and returns it reversed.\nInput: "hello"\nOutput: "olleh"\n'

In [ ]:
def reverse(x):
    x = x[::-1]
    return x 
reverse("hello")

'olleh'

In [ ]:

# Count Vowels
# Task: Count the number of vowels in a given lowercase string.
# Input: "data science"
# Output: 5

In [10]:
def count_vowels(x):
    v = ['a','e','i','o','u']
    count = 0
    for i in v :
        if i in x :
            count +=1
    return count
count_vowels("data science")

3

In [ ]:

# Sum of List
# Task: Return the sum of all numbers in a given list.
# Input: [1, 2, 3, 4, 5]
# Output: 15

In [14]:
def sum_ls(x):
    sum = 0
    for i in x:
        sum +=i
    return sum
sum_ls([1,2,3,5,6])

17

In [ ]:

'''Check Palindrome
Task: Return True if the given string is a palindrome, otherwise False.
Input: "madam"
Output: True
'''

In [15]:
def check_palindrome(x):
    if  x == x[::-1]:
        return True
    else:
        return False
check_palindrome('madam')

True

In [ ]:

'''Remove Duplicates from List
Task: Remove duplicates from a list while preserving order.
Input: [1, 3, 2, 1, 3, 4]
Output: [1, 3, 2, 4]'''

In [19]:
def remove_duplicates(x):
    new_ls = set(x)
    return list(new_ls)
remove_duplicates([1,2,3])

[1, 2, 3]

In [ ]:
'''
Word Frequency Counter
Task: Count the frequency of each word in a string and return a dictionary.
Input: "apple banana apple orange"
Output: {'apple': 2, 'banana': 1, 'orange': 1}'''

In [6]:
def fre_counter(x):
    s  = x.split()
    freq= {}
    for i in s :
        freq[i] = freq.get(i,0) + 1
    print(freq)
fre_counter("apple banana apple orange")

{'apple': 2, 'banana': 1, 'orange': 1}

In [21]:
'''
List of Even Squares
Task: Return a list of squares of even numbers from a given list.
Input: [1, 2, 3, 4, 5]
Output: [4, 16]
'''

'\nList of Even Squares\nTask: Return a list of squares of even numbers from a given list.\nInput: [1, 2, 3, 4, 5]\nOutput: [4, 16]\n'

In [20]:
def sq_num(x):
    even_ls=[]
    for i in x :
        if i %2 == 0:
            even_ls.append(i**2)
    return even_ls
sq_num([1,2,3,4,5])

[4, 16]

In [ ]:
'''
Flatten Nested List
Task: Flatten a 2D list into a 1D list.
Input: [[1, 2], [3, 4], [5]]
Output: [1, 2, 3, 4, 5]
'''

In [7]:
def flatten_list(x):
    flat_list = []
    for sublist in x:
        for item in sublist:
            flat_list.append(item)
    return flat_list
flatten_list([[1, 2], [3, 4], [5]])

[1, 2, 3, 4, 5]

In [8]:
'''
Group Words by Length
Task: Group words from a list into a dictionary based on their length.
Input: ["a", "to", "tea", "ted", "ten"]
Output: {1: ['a'], 2: ['to'], 3: ['tea', 'ted', 'ten']}
'''

'\nGroup Words by Length\nTask: Group words from a list into a dictionary based on their length.\nInput: ["a", "to", "tea", "ted", "ten"]\nOutput: {1: [\'a\'], 2: [\'to\'], 3: [\'tea\', \'ted\', \'ten\']}\n'

In [11]:
ls = ["a", "to", "tea", "ted", "ten"]
def group_words_by_length(words):
    length_dict = {} 
    for word in words:
        length = len(word)
        if length not in length_dict:
            length_dict[length] = []
        length_dict[length].append(word)
    return length_dict
print(group_words_by_length(ls))

{1: ['a'], 2: ['to'], 3: ['tea', 'ted', 'ten']}

In [ ]:

# Fibonacci Generator
# Task: Write a generator that yields the first n Fibonacci numbers.
# Input: n = 6
# Output: [0, 1, 1, 2, 3, 5]

In [14]:
def fibbonacci(n):
    a= 0
    b= 1
    fib_sequence = []
    for _ in  range(n):
        fib_sequence.append(a)
        a, b = b, a + b
    return fib_sequence
fibbonacci(8)

[0, 1, 1, 2, 3, 5, 8, 13]

In [ ]:

'''Merge Dictionaries by Summing Values
Task: Merge two dictionaries by summing values of common keys.
Input: {'a': 5, 'b': 3}, {'a': 2, 'c': 4}
Output: {'a': 7, 'b': 3, 'c': 4}
'''

In [ ]:
def merg_dicts(dict1, dict2):
    for key, value in dict2.items():
        if key in dict1:
            dict1[key] += value  
        else:
            dict1[key] = value  
    return dict1
merg_dicts({'a': 5, 'b': 3}, {'a': 2, 'c': 4})

{'a': 7, 'b': 3, 'c': 4}

In [ ]:

'''Custom Sorting
Task: Sort a list of tuples based on the second element in descending order.
Input: [('a', 3), ('b', 1), ('c', 2)]
Output: [('a', 3), ('c', 2), ('b', 1)]'''

In [20]:
def sort_list_tuples(ls):
    sorted_ls = sorted(ls, key=lambda x: x[1], reverse=True)
    return sorted_ls
sort_list_tuples([('a', 3), ('b', 1), ('c', 2)])

[('a', 3), ('c', 2), ('b', 1)]

In [26]:
ls = [('a', 3), ('b', 1), ('c', 2)]
for i in ls:
    print(i[0], i[1])

a 3
b 1
c 2