
Reverse a String
Task: Write a function that takes a string and returns it reversed.
Input: "hello"
Output: "olleh"

In [12]:
def reverse_string ():
    x = input("Enter string which you want to reverse:")
    reversed = x[::-1]
    return reversed
    
reverse_string()

Enter string which you want to reverse: apocalpyse

'esyplacopa'


Count Vowels
Task: Count the number of vowels in a given lowercase string.
Input: "data science"
Output: 5

In [21]:
def count_vowels (string:str):
    count = 0
    for character in string:
        if character in ['a','e','i','o','u']:
            count += 1
    return count
vowels = count_vowels('i love machine learning')
print (vowels)

9


Sum of List
Task: Return the sum of all numbers in a given list.
Input: [1, 2, 3, 4, 5]
Output: 15

In [25]:
# using built-in function
a = [1,2,3,4,5]
print (sum(a))

# iterating over list elements
def sum_list (a):
    sum = 0
    for number in a:
        sum += number
    return sum
    
print (sum_list([1,3,7]))

15
11

In [ ]:

Check Palindrome
Task: Return True if the given string is a palindrome, otherwise False.
Input: "madam"
Output: True

In [31]:
def check_palindrome (a):
    reversed = a[::-1]
    if a ==  reversed:
        return True
    else:
        return False
        
check_palindrome('madam')

True

In [ ]:

Remove Duplicates from List
Task: Remove duplicates from a list while preserving order.
Input: [1, 3, 2, 1, 3, 4]
Output: [1, 3, 2, 4]

In [34]:
def remove_duplicates (list):
    checked = set ()
    result = []
    for item in list:
        if item not in checked:
            checked.add(item)
            result.append(item)
    return result

remove_duplicates ([1,3,2,1,3,4])

[1, 3, 2, 4]

In [ ]:

Word Frequency Counter
Task: Count the frequency of each word in a string and return a dictionary.
Input: "apple banana apple orange"
Output: {'apple': 2, 'banana': 1, 'orange': 1}

In [38]:
def word_counter(text):
    words = text.split()
    dictionary = {word:words.count(word) for word in set(words)}
    return dictionary
word_counter ("apple banana apple orange")

{'apple': 2, 'orange': 1, 'banana': 1}

In [ ]:

List of Even Squares
Task: Return a list of squares of even numbers from a given list.
Input: [1, 2, 3, 4, 5]
Output: [4, 16]

In [43]:
def check_even_squares (x):
    even_squares = [number**2 for number in x if number % 2 ==0 ]
    return even_squares
check_even_squares ([1,2,3,4,5,6])

[4, 16, 36]

In [ ]:

Flatten Nested List
Task: Flatten a 2D list into a 1D list.
Input: [[1, 2], [3, 4], [5]]
Output: [1, 2, 3, 4, 5]

In [46]:
def flatten_2D_list (x):
    flattened_list = []
    for sub_list in x:
        for number in sub_list:
            flattened_list.append(number)
    return flattened_list

flatten_2D_list ([[1,2],[3,4],[5]])

[1, 2, 3, 4, 5]

In [ ]:

Group Words by Length
Task: Group words from a list into a dictionary based on their length.
Input: ["a", "to", "tea", "ted", "ten"]
Output: {1: ['a'], 2: ['to'], 3: ['tea', 'ted', 'ten']}

In [52]:
def group_words (words):
    grouped = {}
    for word in words:
        length = len(word)
        if length not in grouped:
            grouped[length] = []
        grouped[length].append(word)
    return grouped
        
group_words (["a", "to", "tea", "ted", "ten"])

{1: ['a'], 2: ['to'], 3: ['tea', 'ted', 'ten']}

In [ ]:

Fibonacci Generator
Task: Write a generator that yields the first n Fibonacci numbers.
Input: n = 6
Output: [0, 1, 1, 2, 3, 5]

In [54]:
def fibonacci_generator(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

n = 8
output = list(fibonacci_generator(n))
print(output)

[0, 1, 1, 2, 3, 5, 8, 13]

In [ ]:

Merge Dictionaries by Summing Values
Task: Merge two dictionaries by summing values of common keys.
Input: {'a': 5, 'b': 3}, {'a': 2, 'c': 4}
Output: {'a': 7, 'b': 3, 'c': 4}

In [55]:
dict1 = {'a': 5, 'b': 3}
dict2 = {'a': 2, 'c': 4}

merged = dict1.copy()
for key, value in dict2.items():
    merged[key] = merged.get(key, 0) + value

print(merged)

{'a': 7, 'b': 3, 'c': 4}

In [ ]:

Custom Sorting
Task: Sort a list of tuples based on the second element in descending order.
Input: [('a', 3), ('b', 1), ('c', 2)]
Output: [('a', 3), ('c', 2), ('b', 1)]

In [56]:
data = [('a', 3), ('b', 1), ('c', 2)]

sorted_data = sorted(data, key=lambda x: x[1], reverse=True)

print(sorted_data)

[('a', 3), ('c', 2), ('b', 1)]