# 1. Find the Sum of All Elements in a List
## Problem Statement:
Write a function to return the sum of all elements in a list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `15`

## Example 2:
**Input:** `[10, -2, 3]`  
**Output:** `11`

In [3]:
def sum_lst(s):
    return sum(s)
s=[1, 2, 3, 4, 5]
print(sum_lst(s))

15

In [5]:
def sum_lst(s):
    return sum(s)
s=[10, -2, 3]
print(sum_lst(s))

11

# 2. Find the Maximum Element in a List
## Problem Statement:
Write a function to find the maximum element in a list.

## Example 1:
**Input:** `[3, 5, 1, 9, 2]`  
**Output:** `9`

## Example 2:
**Input:** `[10, 22, 5, 8]`  
**Output:** `22`

In [7]:
def maxim(s):
    return max(s)
s=[3, 5, 1, 9, 2]  
print(maxim(s))

9

In [9]:
def maxim(s):
    return max(s)
s= [10, 22, 5, 8]
print(maxim(s))

22

# 3. Find the Minimum Element in a List
## Problem Statement:
Write a function to find the minimum element in a list.

## Example 1:
**Input:** `[4, 7, 1, 9]`  
**Output:** `1`

## Example 2:
**Input:** `[10, 15, 3, 8]`  
**Output:** `3`

In [11]:
def mini(s):
    return min(s)
s= [4, 7, 1, 9]
print(mini(s))

1

In [13]:
def mini(s):
    return min(s)
s= [10, 15, 3, 8]
print(mini(s))

3

# 4. Reverse a List
## Problem Statement:
Write a function to reverse a given list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `[5, 4, 3, 2, 1]`

## Example 2:
**Input:** `["a", "b", "c", "d"]`  
**Output:** `["d", "c", "b", "a"]`

In [15]:
#Write a function to reverse a given list.
def reverse_lst(s):
    return s[::-1]
s=["a", "b", "c", "d"]
print(reverse_lst(s))

['d', 'c', 'b', 'a']

In [17]:
#Write a function to reverse a given list.
def reverse_lst(s):
    return s[::-1]
s=[1, 2, 3, 4, 5]
print(reverse_lst(s))

[5, 4, 3, 2, 1]

# 5. Check if a List is Palindromic
## Problem Statement:
Write a function to check if a list is the same forward and backward.

## Example 1:
**Input:** `[1, 2, 3, 2, 1]`  
**Output:** `True`

## Example 2:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `False`

In [19]:
def palindrome(s):
    return s==s[::-1]
s=[1, 2, 3, 2, 1]
print(palindrome(s))

True

In [21]:
def palindrome(s):
    return s==s[::-1]
s=[1, 2, 3, 4, 5]
print(palindrome(s))

False

# 6. Count the Frequency of Elements in a List
## Problem Statement:
Write a function to count the occurrences of each element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `{1: 1, 2: 2, 3: 3}`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "c"]`  
**Output:** `{"a": 2, "b": 1, "c": 3}`

# 7. Find the Second Largest Number in a List
## Problem Statement:
Write a function to find the second largest number in a list.

## Example 1:
**Input:** `[10, 20, 4, 45, 99]`  
**Output:** `45`

## Example 2:
**Input:** `[3, 5, 7, 7, 8]`  
**Output:** `7`

20

In [31]:
def second_largest(lst):
    unique_num=list(set(lst))
    if len(unique_num)<2:
        return None
    unique_num.sort(reverse=True)
    return unique_num[1]
lst=[10, 20, 4, 45, 99]
lst2=[3, 5, 7, 7, 8]
print(second_largest(lst))
print(second_largest(lst2))

45
7

# 8. Merge Two Sorted Lists
## Problem Statement:
Write a function to merge two sorted lists into a single sorted list.

## Example 1:
**Input:** `[1, 3, 5]`, `[2, 4, 6]`  
**Output:** `[1, 2, 3, 4, 5, 6]`

## Example 2:
**Input:** `[0, 2, 8]`, `[1, 3, 7]`  
**Output:** `[0, 1, 2, 3, 7, 8]`

In [37]:
def merge_lst(lst1,lst2):
    return sorted(lst1+lst2)
lst1,lst2=[0, 2, 8], [1, 3, 7]
lst3,lst4=[1, 3, 5], [2, 4, 6]
print(merge_lst(lst1,lst2))
print(merge_lst(lst3,lst4))

[0, 1, 2, 3, 7, 8]
[1, 2, 3, 4, 5, 6]

# 9. Remove Duplicates from a List
## Problem Statement:
Write a function to remove duplicate elements from a list while maintaining order.

## Example 1:
**Input:** `[1, 2, 2, 3, 4, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [39]:
def duplicate(s):
     return list(set(s))
s=[1, 2, 2, 3, 4, 4, 5]
print(duplicate(s))

[1, 2, 3, 4, 5]

In [41]:
def duplicate(s):
     return list(set(s))
s=["a", "b", "a", "c", "c", "d"]
print(duplicate(s))

['c', 'b', 'a', 'd']

# 10. Rotate a List by k Positions
## Problem Statement:
Write a function to rotate a list by `k` positions to the right.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `k=2`  
**Output:** `[4, 5, 1, 2, 3]`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `[30, 40, 50, 10, 20]`

In [ ]:
def rotate_list(lst, k):
    k %= len(lst)  
    return lst[-k:] + lst[:-k]  # Slice and rearrange


numbers = [1, 2, 3, 4, 5]
k = 2
print(rotate_list(numbers, k))

In [47]:
def rotate_list(lst, k):
    k %= len(lst) 
    return lst[-k:] + lst[:-k]  # Slice and rearrange


numbers = [10, 20, 30, 40, 50]
k=3
print(rotate_list(numbers, k))

[30, 40, 50, 10, 20]

# 11. Find the Intersection of Two Lists
## Problem Statement:
Write a function to find the common elements between two lists.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[3, 4, 5, 6]`  
**Output:** `[3, 4]`

## Example 2:
**Input:** `["apple", "banana", "cherry"]`, `["banana", "cherry", "date"]`  
**Output:** `["banana", "cherry"]`

In [53]:
def intersect(l1,l2):
    return list(set(l1) & set(l2))
l1,l2=[1, 2, 3, 4], [3, 4, 5, 6]
print(intersect(l1,l2))

[3, 4]

In [55]:
def intersect(l1,l2):
    return list(set(l1) & set(l2))
l1,l2=["apple", "banana", "cherry"], ["banana", "cherry", "date"]
print(intersect(l1,l2))

['cherry', 'banana']

# 12. Find the Union of Two Lists
## Problem Statement:
Write a function to return the union of two lists (without duplicates).

## Example 1:
**Input:** `[1, 2, 3]`, `[3, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "c"]`, `["b", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [59]:
def union_o(list1, list2):
    return list(set(list1) | set(list2))  

list1 = [1, 2, 3]
list2 = [3, 4, 5]
print(union_o(list1, list2))

[1, 2, 3, 4, 5]

In [61]:
def union_o(list1, list2):
    return list(set(list1) | set(list2))  

list1 , list2 = ["a", "b", "c"], ["b", "c", "d"]
print(union_o(list1, list2))

['c', 'a', 'b', 'd']

# 13. Find the Difference Between Two Lists
## Problem Statement:
Write a function to return elements present in the first list but not in the second.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[2, 4, 6]`  
**Output:** `[1, 3]`

## Example 2:
**Input:** `["cat", "dog", "rabbit"]`, `["dog", "rabbit"]`  
**Output:** `["cat"]`

In [65]:
def difference_list(list1, list2):
    return [item for item in list1 if item not in list2]

list1 = [1, 2, 3, 4]
list2 = [2, 4, 6]
print(difference_list(list1, list2))

[1, 3]

In [63]:
def difference_list(list1, list2):
    return [item for item in list1 if item not in list2]


list1 ,list2 =["cat", "dog", "rabbit"], ["dog", "rabbit"]
print(difference_list(list1, list2))

['cat']

# 14. Find the Mode of a List
## Problem Statement:
Write a function to return the most frequently occurring element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `3`

## Example 2:
**Input:** `["apple", "banana", "apple", "cherry", "apple"]`  
**Output:** `"apple"`

In [67]:
from collections import Counter

def most_frequent_element(lst):
    return Counter(lst).most_common(1)[0][0]  # Get the element with the highest frequency


numbers = [1, 2, 2, 3, 3, 3]
num=["apple", "banana", "apple", "cherry", "apple"]
print(most_frequent_element(numbers)) 
print(most_frequent_element(num))

3
apple

# 15. Flatten a Nested List
## Problem Statement:
Write a function to flatten a nested list into a single list.

## Example 1:
**Input:** `[[1, 2, [3]], 4]`  
**Output:** `[1, 2, 3, 4]`

## Example 2:
**Input:** `[["a", ["b", "c"]], "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [71]:
def flatten_list(nested_list):
    return sum(nested_list, [])  
nested = [[1, 2], [3, 4], [5, 6]]
print(flatten_list(nested))

[1, 2, 3, 4, 5, 6]

In [75]:
def flatten_list(nested_list):
    flat_list = []
    for sublist in nested_list:
        flat_list.extend(sublist)  
    return flat_list
nested = [["a", ["b", "c"]], "d"]
print(flatten_list(nested))

['a', ['b', 'c'], 'd']

# 16. Find Pairs in a List That Sum to a Target Value
## Problem Statement:
Write a function to find all pairs in a list that sum to a given target.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `target=6`  
**Output:** `[(1, 5), (2, 4)]`

## Example 2:
**Input:** `[2, 4, 6, 8]`, `target=10`  
**Output:** `[(2, 8), (4, 6)]`

In [81]:
def find_pairs(lst, target):
    pairs = []
    seen = set()

    for num in lst:
        complement = target - num
        if complement in seen:
            pairs.append((complement, num))
        seen.add(num)

    return pairs
numbers = [2, 4, 6, 8]
target = 10
numbers1=[1, 2, 3, 4, 5]
target1=6
print(find_pairs(numbers, target)) 
print(find_pairs(numbers1, target1))

[(4, 6), (2, 8)]
[(2, 4), (1, 5)]

# 17. Find the Product of All Elements Except Self
## Problem Statement:
Write a function that returns a list where each index contains the product of all numbers except the number at that index.

## Example 1:
**Input:** `[1, 2, 3, 4]`  
**Output:** `[24, 12, 8, 6]`

## Example 2:
**Input:** `[5, 6, 7]`  
**Output:** `[42, 35, 30]`

In [83]:
def product_except_self(lst):
    n = len(lst)
    result = [1] * n

    # Compute left products
    left_product = 1
    for i in range(n):
        result[i] = left_product
        left_product *= lst[i]

    # Compute right products
    right_product = 1
    for i in range(n - 1, -1, -1):
        result[i] *= right_product
        right_product *= lst[i]

    return result
numbers = [1, 2, 3, 4]
numbers2=[5,6,7]
print(product_except_self(numbers))  
print(product_except_self(numbers2))

[24, 12, 8, 6]
[42, 35, 30]

# 18. Find the Longest Consecutive Sequence in a List
## Problem Statement:
Write a function to find the longest sequence of consecutive numbers in a list.

## Example 1:
**Input:** `[100, 4, 200, 1, 3, 2]`  
**Output:** `4  (sequence: [1, 2, 3, 4])`

## Example 2:
**Input:** `[10, 11, 12, 50, 51, 52]`  
**Output:** `3  (sequence: [10, 11, 12])`

In [85]:
def longest_consecutive_sequence(lst):
    num_set = set(lst)  # Convert list to a set for fast lookups
    longest = 0

    for num in num_set:
        if num - 1 not in num_set:  # Start of a new sequence
            length = 1
            while num + length in num_set:
                length += 1
            longest = max(longest, length)

    return longest

# Example usage
numbers = [100, 4, 200, 1, 3, 2, 5, 6]
print(longest_consecutive_sequence(numbers))

6

# 19. Check if a List Contains a Sublist
## Problem Statement:
Write a function to check if a list contains a given sublist.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `[3, 4]`  
**Output:** `True`

## Example 2:
**Input:** `[10, 20, 30, 40]`, `[20, 50]`  
**Output:** `False`

In [89]:
def contains_sub(lst,sublst):
    n,m=len(lst), len(sublst)
    for i in range(n-m+1):
        if lst[i:i+m]==sublst:
            return True
    return False
lst, sublst =[1, 2, 3, 4, 5], [3, 4]
print(contains_sub(lst,sublst))

True

In [87]:
def contains_sub(lst,sublst):
    n,m=len(lst), len(sublst)
    for i in range(n-m+1):
        if lst[i:i+m]==sublst:
            return True
    return False
lst, sublst =[10, 20, 30, 40], [20, 50]
print(contains_sub(lst,sublst))

False

# 20. Find the Kth Largest Element in a List
## Problem Statement:
Write a function to find the `k`th largest element in a list.

## Example 1:
**Input:** `[3, 2, 1, 5, 6, 4]`, `k=2`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `30`

In [101]:
def kth_element(lst,k):
    if k>len(lst) or k< 1:
        return None
    return sorted(lst,reverse=True)[k-1]
num=[10, 20, 30, 40, 50]
k=2
print(kth_element(num,k))

40

In [97]:
def kth_element(lst,k):
    if k>len(lst) or k< 1:
        return None
    return sorted(lst,reverse=True)[k-1]
num=[3, 2, 1, 5, 6, 4]
k=2
print(kth_element(num,k))

5

# 21. Find All Duplicates in a List
## Problem Statement:
Write a function to return a list of all duplicate elements.

## Example 1:
**Input:** `[1, 2, 3, 4, 2, 3, 5]`  
**Output:** `[2, 3]`

## Example 2:
**Input:** `[10, 10, 20, 30, 30]`  
**Output:** `[10, 30]`

In [111]:
def duplicates(s):
    seen=set()
    duplicate=set()
    for i in s:
        if i in seen:
            duplicate.add(i)
        seen.add(i)
    return list(duplicate)
s=[1, 2, 3, 4, 2, 3, 5]
print(duplicates(s))

[2, 3]

In [113]:
def duplicates(s):
    seen=set()
    duplicate=set()
    for i in s:
        if i in seen:
            duplicate.add(i)
        seen.add(i)
    return list(duplicate)
s=[10, 10, 20, 30, 30]
print(duplicates(s))

[10, 30]

# 22. Partition a List into Even and Odd Elements
## Problem Statement:
Write a function to split a list into two separate lists, one containing even numbers and the other containing odd numbers.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `([2, 4], [1, 3, 5])`

## Example 2:
**Input:** `[10, 15, 20, 25]`  
**Output:** `([10, 20], [15, 25])`

In [117]:
def split_even_odd(lst):
    even = [num for num in lst if num % 2 == 0]  # using list comprehension
    odd = [num for num in lst if num % 2 != 0]   
    return even, odd
numbers = [1, 2, 3, 4, 5]
even_list, odd_list = split_even_odd(numbers)
print("Even numbers:", even_list)  
print("Odd numbers:", odd_list)

Even numbers: [2, 4]
Odd numbers: [1, 3, 5]

In [119]:
def split_even_odd(lst):
    even = [num for num in lst if num % 2 == 0]  # using list comprehension
    odd = [num for num in lst if num % 2 != 0]   
    return even, odd
numbers = [10, 15, 20, 25]
even_list, odd_list = split_even_odd(numbers)
print("Even numbers:", even_list)  
print("Odd numbers:", odd_list)

Even numbers: [10, 20]
Odd numbers: [15, 25]

# 23. Find the First Non-Repeating Element in a List
## Problem Statement:
Write a function to find the first element that does not repeat.

## Example 1:
**Input:** `[4, 5, 1, 2, 0, 4]`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 10, 30, 20]`  
**Output:** `30`

In [121]:
from collections import Counter
def repeating(lst):
    counts= Counter(lst)
    for i in lst:
        if counts[i]==1:
            return i
    return None
lst=[10,20,10,30,20]
print(repeating(lst))

30

# 24. Sort a List Without Using Built-in Sort
## Problem Statement:
Write a function to sort a list in ascending order without using Pythonâ€™s built-in sort.

## Example 1:
**Input:** `[3, 1, 4, 1, 5, 9]
`  
**Output:** `[1, 1, 3, 4, 5, 9]`

## Example 2:
**Input:** `[10, 5, 2, 8]`  
**Output:** `[2, 5, 8, 10]`

In [123]:
def bubble_sort(lst):
    n = len(lst)
    for i in range(n):
        for j in range(0, n - i - 1):
            if lst[j] > lst[j + 1]:  
                lst[j], lst[j + 1] = lst[j + 1], lst[j]
    return lst


numbers = [3, 1, 4, 1, 5, 9] 
print(bubble_sort(numbers))

[1, 1, 3, 4, 5, 9]

# 25. Find All Triplets That Sum to Zero
## Problem Statement:
Write a function to find all triplets in a list that sum to zero.

## Example 1:
**Input:** `[-1, 0, 1, 2, -1, -4]`  
**Output:** `[[-1, -1, 2], [-1, 0, 1]]`

## Example 2:
**Input:** `[1, -2, 1, 0, 5]`  
**Output:** `[[-2, 1, 1]]`

In [125]:
def find_triplets(nums):
    nums.sort()
    triplets = []
    n = len(nums)

    for i in range(n - 2):
        if i > 0 and nums[i] == nums[i - 1]:
            continue

        left = i + 1
        right = n - 1

        while left < right:
            total = nums[i] + nums[left] + nums[right]

            if total == 0:
                triplets.append([nums[i], nums[left], nums[right]])
                while left < right and nums[left] == nums[left + 1]:
                    left += 1
                while left < right and nums[right] == nums[right - 1]:
                    right -= 1
                left += 1
                right -= 1
            elif total < 0:
                left += 1
            else:
                right -= 1
    return triplets
num=[1, -2, 1, 0, 5]
print(find_triplets(num))

[[-2, 1, 1]]