# 1. Find the Sum of All Elements in a List
## Problem Statement:
Write a function to return the sum of all elements in a list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `15`

## Example 2:
**Input:** `[10, -2, 3]`  
**Output:** `11`

In [25]:
lst=[1,2,3,4,5]
sum(lst)

15

# 2. Find the Maximum Element in a List
## Problem Statement:
Write a function to find the maximum element in a list.

## Example 1:
**Input:** `[3, 5, 1, 9, 2]`  
**Output:** `9`

## Example 2:
**Input:** `[10, 22, 5, 8]`  
**Output:** `22`

In [24]:
lst=[1,2,3,4,5]
max(lst)

5

# 3. Find the Minimum Element in a List
## Problem Statement:
Write a function to find the minimum element in a list.

## Example 1:
**Input:** `[4, 7, 1, 9]`  
**Output:** `1`

## Example 2:
**Input:** `[10, 15, 3, 8]`  
**Output:** `3`

In [23]:
lst=[1,2,3,4,5]
min(lst)

1

# 4. Reverse a List
## Problem Statement:
Write a function to reverse a given list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `[5, 4, 3, 2, 1]`

## Example 2:
**Input:** `["a", "b", "c", "d"]`  
**Output:** `["d", "c", "b", "a"]`

In [22]:
def Reverse(lst):
    lst1=lst[::-1]
    return lst1
lst=[1,2,3,4,5]
lst1=Reverse(lst)
lst1

[5, 4, 3, 2, 1]

# 5. Check if a List is Palindromic
## Problem Statement:
Write a function to check if a list is the same forward and backward.

## Example 1:
**Input:** `[1, 2, 3, 2, 1]`  
**Output:** `True`

## Example 2:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `False`

In [26]:
def Palindrome(lst):
    if lst==Reverse(lst):
        return True
    else:
        return False
lst=[1,2,3,2,1]
if Palindrome(lst):
    print("Its a palindrome")
else:
    print("Its not a palindrome")

Its a palindrome

# 6. Count the Frequency of Elements in a List
## Problem Statement:
Write a function to count the occurrences of each element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `{1: 1, 2: 2, 3: 3}`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "c"]`  
**Output:** `{"a": 2, "b": 1, "c": 3}`

In [27]:
def Freq1(lst):
    dict={}
    for i in lst:
        dict[i]=dict.get(i,0)+1
    return dict
lst=[1,2,2,3,3,3]
dict=Freq1(lst)
dict

{1: 1, 2: 2, 3: 3}

# 7. Find the Second Largest Number in a List
## Problem Statement:
Write a function to find the second largest number in a list.

## Example 1:
**Input:** `[10, 20, 4, 45, 99]`  
**Output:** `45`

## Example 2:
**Input:** `[3, 5, 7, 7, 8]`  
**Output:** `7`

In [21]:
lst1=[10,5,2,8]
max_=max(lst1)
lst2=lst1
lst2.remove(max_)
max_=max(lst2)
max_

8

# 8. Merge Two Sorted Lists
## Problem Statement:
Write a function to merge two sorted lists into a single sorted list.

## Example 1:
**Input:** `[1, 3, 5]`, `[2, 4, 6]`  
**Output:** `[1, 2, 3, 4, 5, 6]`

## Example 2:
**Input:** `[0, 2, 8]`, `[1, 3, 7]`  
**Output:** `[0, 1, 2, 3, 7, 8]`

In [16]:
lst1=[10,5,2,8]
lst2=[12,51,2,8]
lst3=lst1+lst2
lst3=sorted(lst3)
lst3

[2, 2, 5, 8, 8, 10, 12, 51]

# 9. Remove Duplicates from a List
## Problem Statement:
Write a function to remove duplicate elements from a list while maintaining order.

## Example 1:
**Input:** `[1, 2, 2, 3, 4, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

# 10. Rotate a List by k Positions
## Problem Statement:
Write a function to rotate a list by `k` positions to the right.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `k=2`  
**Output:** `[4, 5, 1, 2, 3]`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `[30, 40, 50, 10, 20]`

In [14]:
lst1=[1,2,3,4,5]
k=2
sz=len(lst1)

for i in range(k):
    temp = lst1[-1] 
    for j in range(sz-1, 0, -1): 
        lst1[j] = lst1[j-1]  
    lst1[0] = temp

print(lst1)

[4, 5, 1, 2, 3]

# 11. Find the Intersection of Two Lists
## Problem Statement:
Write a function to find the common elements between two lists.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[3, 4, 5, 6]`  
**Output:** `[3, 4]`

## Example 2:
**Input:** `["apple", "banana", "cherry"]`, `["banana", "cherry", "date"]`  
**Output:** `["banana", "cherry"]`

In [6]:
lst1=[10,5,2,8]
lst2=[12,51,2,8]
lst3=set(lst1)&set(lst2)
lst3

{2, 8}

# 12. Find the Union of Two Lists
## Problem Statement:
Write a function to return the union of two lists (without duplicates).

## Example 1:
**Input:** `[1, 2, 3]`, `[3, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "c"]`, `["b", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [4]:
lst1=[10,5,2,8]
lst2=[12,51,2,8]
lst3=set(lst1)|set(lst2)
lst3

{2, 5, 8, 10, 12, 51}

# 13. Find the Difference Between Two Lists
## Problem Statement:
Write a function to return elements present in the first list but not in the second.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[2, 4, 6]`  
**Output:** `[1, 3]`

## Example 2:
**Input:** `["cat", "dog", "rabbit"]`, `["dog", "rabbit"]`  
**Output:** `["cat"]`

In [28]:
lst1=[10,5,2,8]
lst2=[12,51,2,8]
lst3=set(lst1)-set(lst2)
lst3

{5, 10}

# 14. Find the Mode of a List
## Problem Statement:
Write a function to return the most frequently occurring element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `3`

## Example 2:
**Input:** `["apple", "banana", "apple", "cherry", "apple"]`  
**Output:** `"apple"`

In [2]:
def mostFreq(lst):
    dict={}
    for i in lst:
        dict[i]=dict.get(i,0)+1
    mode=max(dict,key=dict.get)
    return mode
lst=[1,2,2,3,3,3]
c=mostFreq(lst)
c

3

# 15. Flatten a Nested List
## Problem Statement:
Write a function to flatten a nested list into a single list.

## Example 1:
**Input:** `[[1, 2, [3]], 4]`  
**Output:** `[1, 2, 3, 4]`

## Example 2:
**Input:** `[["a", ["b", "c"]], "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [29]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flattened_list = [element for sublist in nested_list for element in sublist]
flattened_list

[1, 2, 3, 4, 5, 6, 7, 8]

# 16. Find Pairs in a List That Sum to a Target Value
## Problem Statement:
Write a function to find all pairs in a list that sum to a given target.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `target=6`  
**Output:** `[(1, 5), (2, 4)]`

## Example 2:
**Input:** `[2, 4, 6, 8]`, `target=10`  
**Output:** `[(2, 8), (4, 6)]`

In [48]:
lst=[1, 2, 3, 4, 5]
target=6
pairs=[]
for i in range(len(lst)):
        for j in range(i+1, len(lst)):
            if lst[i] + lst[j]==target:
                pairs.append((lst[i],lst[j]))
pairs

[(1, 5), (2, 4)]

# 17. Find the Product of All Elements Except Self
## Problem Statement:
Write a function that returns a list where each index contains the product of all numbers except the number at that index.

## Example 1:
**Input:** `[1, 2, 3, 4]`  
**Output:** `[24, 12, 8, 6]`

## Example 2:
**Input:** `[5, 6, 7]`  
**Output:** `[42, 35, 30]`

In [31]:
lst=[1,2,3,4]
n = len(lst)
result =[1]*n  
left_product = 1
for i in range(n):
    result[i] = left_product
    left_product *= lst[i]

    
right_product = 1
for i in range(n - 1, -1, -1):
    result[i] *= right_product
    right_product *= lst[i]
result

[24, 12, 8, 6]

# 18. Find the Longest Consecutive Sequence in a List
## Problem Statement:
Write a function to find the longest sequence of consecutive numbers in a list.

## Example 1:
**Input:** `[100, 4, 200, 1, 3, 2]`  
**Output:** `4  (sequence: [1, 2, 3, 4])`

## Example 2:
**Input:** `[10, 11, 12, 50, 51, 52]`  
**Output:** `3  (sequence: [10, 11, 12])`

# 19. Check if a List Contains a Sublist
## Problem Statement:
Write a function to check if a list contains a given sublist.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `[3, 4]`  
**Output:** `True`

## Example 2:
**Input:** `[10, 20, 30, 40]`, `[20, 50]`  
**Output:** `False`

In [33]:
def contains_sublist(lst,i):
    for item in lst:
        if item ==i:
            return True
    return False

lst= [1, 2, 3, 4, 5]
sub_l=[3, 4]
contains_sublist(lst,i)

False

# 20. Find the Kth Largest Element in a List
## Problem Statement:
Write a function to find the `k`th largest element in a list.

## Example 1:
**Input:** `[3, 2, 1, 5, 6, 4]`, `k=2`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `30`

In [37]:
def find_kth(arr, k):
    arr.sort()
    return arr[k+1]
arr=[2,1,5,6,4]
k=2
find_kth(arr,k)

5

# 21. Find All Duplicates in a List
## Problem Statement:
Write a function to return a list of all duplicate elements.

## Example 1:
**Input:** `[1, 2, 3, 4, 2, 3, 5]`  
**Output:** `[2, 3]`

## Example 2:
**Input:** `[10, 10, 20, 30, 30]`  
**Output:** `[10, 30]`

In [38]:
lst=[1,2,3,4,2,3,5]
dups=[item for item in set(lst) if lst.count(item) > 1]
dups

[2, 3]

# 22. Partition a List into Even and Odd Elements
## Problem Statement:
Write a function to split a list into two separate lists, one containing even numbers and the other containing odd numbers.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `([2, 4], [1, 3, 5])`

## Example 2:
**Input:** `[10, 15, 20, 25]`  
**Output:** `([10, 20], [15, 25])`

In [41]:
lst_E=[]
lst_O=[]
lst=[1, 2, 3, 4, 5]
for i in lst:
    if i%2==0:
        lst_E.append(i)
    else:
        lst_O.append(i)
lst_E

[2, 4]

# 23. Find the First Non-Repeating Element in a List
## Problem Statement:
Write a function to find the first element that does not repeat.

## Example 1:
**Input:** `[4, 5, 1, 2, 0, 4]`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 10, 30, 20]`  
**Output:** `30`

In [47]:
def Freq1(lst):
    dict={}
    for i in lst:
        dict[i]=dict.get(i,0)+1
    return dict
lst=[4, 5, 1, 2, 0, 4]
dict=Freq1(lst)
for i in lst:
    if dict[i]<2:
        print(i)
        break

5

# 24. Sort a List Without Using Built-in Sort
## Problem Statement:
Write a function to sort a list in ascending order without using Pythonâ€™s built-in sort.

## Example 1:
**Input:** `[3, 1, 4, 1, 5, 9]`  
**Output:** `[1, 1, 3, 4, 5, 9]`

## Example 2:
**Input:** `[10, 5, 2, 8]`  
**Output:** `[2, 5, 8, 10]`

In [1]:
def bubble_sort(lst):
    n =len(lst)
    for i in range(n):
        check=False
        for j in range(0, n-i-1):
            if lst[j] > lst[j+1]:
                lst[j], lst[j+1] = lst[j+1], lst[j]
                check=True
        
        if not check:
            break
    return lst
lst=[10,5,2,8]
lst1=bubble_sort(lst)
lst1

[2, 5, 8, 10]

# 25. Find All Triplets That Sum to Zero
## Problem Statement:
Write a function to find all triplets in a list that sum to zero.

## Example 1:
**Input:** `[-1, 0, 1, 2, -1, -4]`  
**Output:** `[[-1, -1, 2], [-1, 0, 1]]`

## Example 2:
**Input:** `[1, -2, 1, 0, 5]`  
**Output:** `[[-2, 1, 1]]`

In [ ]:
lst=[-1, 0, 1, 2, -1, -4]
pairs=[]
i=0
while i<len(lst)-2:
    if lst[i]+lst[i+1]+lst[i+2]:
        pairs.append((lst[i],lst[i+1],lst[i+2]))
pairs