# 1. Find the Sum of All Elements in a List
## Problem Statement:
Write a function to return the sum of all elements in a list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `15`

## Example 2:
**Input:** `[10, -2, 3]`  
**Output:** `11`

In [1]:
def sum_of_list(lst):
    total = 0
    for x in lst:
        total += x
    return total
sum_of_list([10, -2, 3])

11

# 2. Find the Maximum Element in a List
## Problem Statement:
Write a function to find the maximum element in a list.

## Example 1:
**Input:** `[3, 5, 1, 9, 2]`  
**Output:** `9`

## Example 2:
**Input:** `[10, 22, 5, 8]`  
**Output:** `22`

In [2]:
def max_in_list(lst):
    max_val = lst[0]
    for x in lst[1:]:
        if x > max_val:
            max_val = x
    return max_val

print(max_in_list([3, 5, 1, 9, 2]))  
print(max_in_list([10, 22, 5, 8]))

9
22

# 3. Find the Minimum Element in a List
## Problem Statement:
Write a function to find the minimum element in a list.

## Example 1:
**Input:** `[4, 7, 1, 9]`  
**Output:** `1`

## Example 2:
**Input:** `[10, 15, 3, 8]`  
**Output:** `3`

In [3]:
def min_in_list(lst):
    min_val = lst[0]
    for x in lst[1:]:
        if x < min_val:
            min_val = x
    return min_val

print(min_in_list([4, 7, 1, 9]))       
print(min_in_list([10, 15, 3, 8]))

1
3

# 4. Reverse a List
## Problem Statement:
Write a function to reverse a given list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `[5, 4, 3, 2, 1]`

## Example 2:
**Input:** `["a", "b", "c", "d"]`  
**Output:** `["d", "c", "b", "a"]`

In [4]:
def reverse_list(lst):
    return lst[::-1]

print(reverse_list([1, 2, 3, 4, 5]))            
print(reverse_list(["a", "b", "c", "d"]))

[5, 4, 3, 2, 1]
['d', 'c', 'b', 'a']

# 5. Check if a List is Palindromic
## Problem Statement:
Write a function to check if a list is the same forward and backward.

## Example 1:
**Input:** `[1, 2, 3, 2, 1]`  
**Output:** `True`

## Example 2:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `False`

In [5]:
def is_palindrome(lst):
    return lst == lst[::-1]

print(is_palindrome([1, 2, 3, 2, 1]))    
print(is_palindrome([1, 2, 3, 4, 5]))

True
False

# 6. Count the Frequency of Elements in a List
## Problem Statement:
Write a function to count the occurrences of each element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `{1: 1, 2: 2, 3: 3}`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "c"]`  
**Output:** `{"a": 2, "b": 1, "c": 3}`

In [6]:
def count_frequency(lst):
    freq = {}
    for x in lst:
        if x in freq:
            freq[x] += 1
        else:
            freq[x] = 1
    return freq

print(count_frequency([1, 2, 2, 3, 3, 3]))
print(count_frequency(["a", "b", "a", "c", "c", "c"]))

{1: 1, 2: 2, 3: 3}
{'a': 2, 'b': 1, 'c': 3}

# 7. Find the Second Largest Number in a List
## Problem Statement:
Write a function to find the second largest number in a list.

## Example 1:
**Input:** `[10, 20, 4, 45, 99]`  
**Output:** `45`

## Example 2:
**Input:** `[3, 5, 7, 7, 8]`  
**Output:** `7`

In [8]:
def second_largest(lst):
    unique = []
    for x in lst:
        if x not in unique:
            unique.append(x)
    max1 = max2 = None
    for x in unique:
        if max1 is None or x > max1:
            max2 = max1
            max1 = x
        elif max2 is None or (x > max2 and x != max1):
            max2 = x
    return max2

print(second_largest([10, 20, 4, 45, 99]))
print(second_largest([3, 5, 7, 7, 8]))

45
7

# 8. Merge Two Sorted Lists
## Problem Statement:
Write a function to merge two sorted lists into a single sorted list.

## Example 1:
**Input:** `[1, 3, 5]`, `[2, 4, 6]`  
**Output:** `[1, 2, 3, 4, 5, 6]`

## Example 2:
**Input:** `[0, 2, 8]`, `[1, 3, 7]`  
**Output:** `[0, 1, 2, 3, 7, 8]`

In [7]:
def merge_sorted_lists(a, b):
    merged = []
    i = j = 0
    while i < len(a) and j < len(b):
        if a[i] < b[j]:
            merged.append(a[i])
            i += 1
        else:
            merged.append(b[j])
            j += 1
    while i < len(a):
        merged.append(a[i])
        i += 1
    while j < len(b):
        merged.append(b[j])
        j += 1
    return merged

print(merge_sorted_lists([1, 3, 5], [2, 4, 6]))
print(merge_sorted_lists([0, 2, 8], [1, 3, 7]))

[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 7, 8]

# 9. Remove Duplicates from a List
## Problem Statement:
Write a function to remove duplicate elements from a list while maintaining order.

## Example 1:
**Input:** `[1, 2, 2, 3, 4, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [9]:
def remove_duplicates(lst):
    result = []
    for x in lst:
        if x not in result:
            result.append(x)
    return result

print(remove_duplicates([1, 2, 2, 3, 4, 4, 5]))
print(remove_duplicates(["a", "b", "a", "c", "c", "d"]))

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']

# 10. Rotate a List by k Positions
## Problem Statement:
Write a function to rotate a list by `k` positions to the right.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `k=2`  
**Output:** `[4, 5, 1, 2, 3]`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `[30, 40, 50, 10, 20]`

In [10]:
def rotate_list(lst, k):
    k = k % len(lst)
    return lst[-k:] + lst[:-k]

print(rotate_list([1, 2, 3, 4, 5], 2))
print(rotate_list([10, 20, 30, 40, 50], 3))

[4, 5, 1, 2, 3]
[30, 40, 50, 10, 20]

# 11. Find the Intersection of Two Lists
## Problem Statement:
Write a function to find the common elements between two lists.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[3, 4, 5, 6]`  
**Output:** `[3, 4]`

## Example 2:
**Input:** `["apple", "banana", "cherry"]`, `["banana", "cherry", "date"]`  
**Output:** `["banana", "cherry"]`

In [11]:
def intersection(lst1, lst2):
    result = []
    for x in lst1:
        if x in lst2 and x not in result:
            result.append(x)
    return result

print(intersection([1, 2, 3, 4], [3, 4, 5, 6]))
print(intersection(["apple", "banana", "cherry"], ["banana", "cherry", "date"]))

[3, 4]
['banana', 'cherry']

# 12. Find the Union of Two Lists
## Problem Statement:
Write a function to return the union of two lists (without duplicates).

## Example 1:
**Input:** `[1, 2, 3]`, `[3, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "c"]`, `["b", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [12]:
def union(lst1, lst2):
    result = []
    for x in lst1 + lst2:
        if x not in result:
            result.append(x)
    return result

print(union([1, 2, 3], [3, 4, 5]))
print(union(["a", "b", "c"], ["b", "c", "d"]))

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']

# 13. Find the Difference Between Two Lists
## Problem Statement:
Write a function to return elements present in the first list but not in the second.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[2, 4, 6]`  
**Output:** `[1, 3]`

## Example 2:
**Input:** `["cat", "dog", "rabbit"]`, `["dog", "rabbit"]`  
**Output:** `["cat"]`

In [13]:
def difference(lst1, lst2):
    result = []
    for x in lst1:
        if x not in lst2:
            result.append(x)
    return result

print(difference([1, 2, 3, 4], [2, 4, 6]))
print(difference(["cat", "dog", "rabbit"], ["dog", "rabbit"]))

[1, 3]
['cat']

# 14. Find the Mode of a List
## Problem Statement:
Write a function to return the most frequently occurring element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `3`

## Example 2:
**Input:** `["apple", "banana", "apple", "cherry", "apple"]`  
**Output:** `"apple"`

In [14]:
def find_mode(lst):
    freq = {}
    for x in lst:
        if x in freq:
            freq[x] += 1
        else:
            freq[x] = 1
    max_count = 0
    mode = None
    for x in freq:
        if freq[x] > max_count:
            max_count = freq[x]
            mode = x
    return mode

print(find_mode([1, 2, 2, 3, 3, 3]))
print(find_mode(["apple", "banana", "apple", "cherry", "apple"]))

3
apple

# 15. Flatten a Nested List
## Problem Statement:
Write a function to flatten a nested list into a single list.

## Example 1:
**Input:** `[[1, 2, [3]], 4]`  
**Output:** `[1, 2, 3, 4]`

## Example 2:
**Input:** `[["a", ["b", "c"]], "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [16]:
def flatten_list(lst):
    result = []
    for x in lst:
        if isinstance(x, list):
            result += flatten_list(x)
        else:
            result.append(x)
    return result

print(flatten_list([[1, 2, [3]], 4]))
print(flatten_list([["a", ["b", "c"]], "d"]))

[1, 2, 3, 4]
['a', 'b', 'c', 'd']

# 16. Find Pairs in a List That Sum to a Target Value
## Problem Statement:
Write a function to find all pairs in a list that sum to a given target.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `target=6`  
**Output:** `[(1, 5), (2, 4)]`

## Example 2:
**Input:** `[2, 4, 6, 8]`, `target=10`  
**Output:** `[(2, 8), (4, 6)]`

In [17]:
def find_pairs(lst, target):
    pairs = []
    for i in range(len(lst)):
        for j in range(i + 1, len(lst)):
            if lst[i] + lst[j] == target:
                pairs.append((lst[i], lst[j]))
    return pairs

print(find_pairs([1, 2, 3, 4, 5], 6))
print(find_pairs([2, 4, 6, 8], 10))

[(1, 5), (2, 4)]
[(2, 8), (4, 6)]

# 17. Find the Product of All Elements Except Self
## Problem Statement:
Write a function that returns a list where each index contains the product of all numbers except the number at that index.

## Example 1:
**Input:** `[1, 2, 3, 4]`  
**Output:** `[24, 12, 8, 6]`

## Example 2:
**Input:** `[5, 6, 7]`  
**Output:** `[42, 35, 30]`

In [18]:
def product_except_self(lst):
    result = []
    for i in range(len(lst)):
        prod = 1
        for j in range(len(lst)):
            if i != j:
                prod *= lst[j]
        result.append(prod)
    return result

print(product_except_self([1, 2, 3, 4]))
print(product_except_self([5, 6, 7]))

[24, 12, 8, 6]
[42, 35, 30]

# 18. Find the Longest Consecutive Sequence in a List
## Problem Statement:
Write a function to find the longest sequence of consecutive numbers in a list.

## Example 1:
**Input:** `[100, 4, 200, 1, 3, 2]`  
**Output:** `4  (sequence: [1, 2, 3, 4])`

## Example 2:
**Input:** `[10, 11, 12, 50, 51, 52]`  
**Output:** `3  (sequence: [10, 11, 12])`

In [19]:
def longest_consecutive_sequence(lst):
    longest = []
    lst = sorted(lst)
    current = [lst[0]]
    for i in range(1, len(lst)):
        if lst[i] == lst[i - 1]:
            continue
        if lst[i] == lst[i - 1] + 1:
            current.append(lst[i])
        else:
            if len(current) > len(longest):
                longest = current
            current = [lst[i]]
    if len(current) > len(longest):
        longest = current
    return len(longest), longest

print(longest_consecutive_sequence([100, 4, 200, 1, 3, 2]))
print(longest_consecutive_sequence([10, 11, 12, 50, 51, 52]))

(4, [1, 2, 3, 4])
(3, [10, 11, 12])

# 19. Check if a List Contains a Sublist
## Problem Statement:
Write a function to check if a list contains a given sublist.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `[3, 4]`  
**Output:** `True`

## Example 2:
**Input:** `[10, 20, 30, 40]`, `[20, 50]`  
**Output:** `False`

In [20]:
def contains_sublist(lst, sub):
    for i in range(len(lst) - len(sub) + 1):
        if lst[i:i+len(sub)] == sub:
            return True
    return False

print(contains_sublist([1, 2, 3, 4, 5], [3, 4]))
print(contains_sublist([10, 20, 30, 40], [20, 50]))

True
False

# 20. Find the Kth Largest Element in a List
## Problem Statement:
Write a function to find the `k`th largest element in a list.

## Example 1:
**Input:** `[3, 2, 1, 5, 6, 4]`, `k=2`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `30`

In [21]:
def kth_largest(lst, k):
    sorted_lst = []
    for x in lst:
        if x not in sorted_lst:
            sorted_lst.append(x)
    for i in range(len(sorted_lst)):
        for j in range(i + 1, len(sorted_lst)):
            if sorted_lst[i] < sorted_lst[j]:
                sorted_lst[i], sorted_lst[j] = sorted_lst[j], sorted_lst[i]
    return sorted_lst[k - 1]

print(kth_largest([3, 2, 1, 5, 6, 4], 2))
print(kth_largest([10, 20, 30, 40, 50], 3))

5
30

# 21. Find All Duplicates in a List
## Problem Statement:
Write a function to return a list of all duplicate elements.

## Example 1:
**Input:** `[1, 2, 3, 4, 2, 3, 5]`  
**Output:** `[2, 3]`

## Example 2:
**Input:** `[10, 10, 20, 30, 30]`  
**Output:** `[10, 30]`

In [22]:
def find_duplicates(lst):
    seen = []
    duplicates = []
    for x in lst:
        if x in seen and x not in duplicates:
            duplicates.append(x)
        elif x not in seen:
            seen.append(x)
    return duplicates

print(find_duplicates([1, 2, 3, 4, 2, 3, 5]))
print(find_duplicates([10, 10, 20, 30, 30]))

[2, 3]
[10, 30]

# 22. Partition a List into Even and Odd Elements
## Problem Statement:
Write a function to split a list into two separate lists, one containing even numbers and the other containing odd numbers.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `([2, 4], [1, 3, 5])`

## Example 2:
**Input:** `[10, 15, 20, 25]`  
**Output:** `([10, 20], [15, 25])`

In [23]:
def partition_even_odd(lst):
    even = []
    odd = []
    for x in lst:
        if x % 2 == 0:
            even.append(x)
        else:
            odd.append(x)
    return even, odd

print(partition_even_odd([1, 2, 3, 4, 5]))
print(partition_even_odd([10, 15, 20, 25]))

([2, 4], [1, 3, 5])
([10, 20], [15, 25])

# 23. Find the First Non-Repeating Element in a List
## Problem Statement:
Write a function to find the first element that does not repeat.

## Example 1:
**Input:** `[4, 5, 1, 2, 0, 4]`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 10, 30, 20]`  
**Output:** `30`

In [24]:
def first_non_repeating(lst):
    for x in lst:
        if lst.count(x) == 1:
            return x

print(first_non_repeating([4, 5, 1, 2, 0, 4]))
print(first_non_repeating([10, 20, 10, 30, 20]))

5
30

# 24. Sort a List Without Using Built-in Sort
## Problem Statement:
Write a function to sort a list in ascending order without using Pythonâ€™s built-in sort.

## Example 1:
**Input:** `[3, 1, 4, 1, 5, 9]`  
**Output:** `[1, 1, 3, 4, 5, 9]`

## Example 2:
**Input:** `[10, 5, 2, 8]`  
**Output:** `[2, 5, 8, 10]`

In [25]:
def sort_list(lst):
    for i in range(len(lst)):
        for j in range(i + 1, len(lst)):
            if lst[i] > lst[j]:
                lst[i], lst[j] = lst[j], lst[i]
    return lst

print(sort_list([3, 1, 4, 1, 5, 9]))
print(sort_list([10, 5, 2, 8]))

[1, 1, 3, 4, 5, 9]
[2, 5, 8, 10]

# 25. Find All Triplets That Sum to Zero
## Problem Statement:
Write a function to find all triplets in a list that sum to zero.

## Example 1:
**Input:** `[-1, 0, 1, 2, -1, -4]`  
**Output:** `[[-1, -1, 2], [-1, 0, 1]]`

## Example 2:
**Input:** `[1, -2, 1, 0, 5]`  
**Output:** `[[-2, 1, 1]]`

In [26]:
def triplets_sum_zero(lst):
    result = []
    n = len(lst)
    for i in range(n):
        for j in range(i + 1, n):
            for k in range(j + 1, n):
                if lst[i] + lst[j] + lst[k] == 0:
                    triplet = [lst[i], lst[j], lst[k]]
                    if triplet not in result and sorted(triplet) not in [sorted(t) for t in result]:
                        result.append(triplet)
    return result

print(triplets_sum_zero([-1, 0, 1, 2, -1, -4]))
print(triplets_sum_zero([1, -2, 1, 0, 5]))

[[-1, 0, 1], [-1, 2, -1]]
[[1, -2, 1]]