# 1. Find the Sum of All Elements in a List
## Problem Statement:
Write a function to return the sum of all elements in a list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `15`

## Example 2:
**Input:** `[10, -2, 3]`  
**Output:** `11`

In [2]:
def sum_list(lst):
    return sum(lst)
lst = [10,-2,3]
print(sum_list(lst))

11

# 2. Find the Maximum Element in a List
## Problem Statement:
Write a function to find the maximum element in a list.

## Example 1:
**Input:** `[3, 5, 1, 9, 2]`  
**Output:** `9`

## Example 2:
**Input:** `[10, 22, 5, 8]`  
**Output:** `22`

In [3]:
def max_element(lst):
    max = 0
    for el in lst:
        if max < el: max=el
    return max
lst = [10,22,5,8]
print(max_element(lst))

22

# 3. Find the Minimum Element in a List
## Problem Statement:
Write a function to find the minimum element in a list.

## Example 1:
**Input:** `[4, 7, 1, 9]`  
**Output:** `1`

## Example 2:
**Input:** `[10, 15, 3, 8]`  
**Output:** `3`

In [7]:
def min_element(lst):
    min = lst[0]
    for el in lst:
        if min > el: min=el
    return min
lst = [10, 15, 3, 8]
print(min_element(lst))

3

# 4. Reverse a List
## Problem Statement:
Write a function to reverse a given list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `[5, 4, 3, 2, 1]`

## Example 2:
**Input:** `["a", "b", "c", "d"]`  
**Output:** `["d", "c", "b", "a"]`

In [8]:
def reverse_list(lst):
    return lst[::-1]
lst = [1,2,3,4,5]
print(reverse_list(lst))

[5, 4, 3, 2, 1]

# 5. Check if a List is Palindromic
## Problem Statement:
Write a function to check if a list is the same forward and backward.

## Example 1:
**Input:** `[1, 2, 3, 2, 1]`  
**Output:** `True`

## Example 2:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `False`

In [14]:
def is_palindrome(arr):
    right = len(arr)-1
    for i in range(len(arr)//2):
        if arr[i] != arr[right]: return False
        right -= 1
    return True
arr = [1, 2, 3, 2, 1]
a2 = [1, 2, 3, 4, 5]
print(is_palindrome(a2))

False

# 6. Count the Frequency of Elements in a List
## Problem Statement:
Write a function to count the occurrences of each element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `{1: 1, 2: 2, 3: 3}`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "c"]`  
**Output:** `{"a": 2, "b": 1, "c": 3}`

In [17]:
def count_occurences(a):
    d1 = {}
    for i in range(len(a)):
        if a[i] in d1.keys(): d1[a[i]] += 1
        else: d1[a[i]] = 1
    return d1
a = [1,2,2,3,3,3]
a1 = ["a", "b", "a", "c", "c", "c"]
print(count_occurences(a))
print(count_occurences(a1))

{1: 1, 2: 2, 3: 3}
{'a': 2, 'b': 1, 'c': 3}

# 7. Find the Second Largest Number in a List
## Problem Statement:
Write a function to find the second largest number in a list.

## Example 1:
**Input:** `[10, 20, 4, 45, 99]`  
**Output:** `45`

## Example 2:
**Input:** `[3, 5, 7, 7, 8]`  
**Output:** `7`

In [25]:
def second_max(a):
    max = 0
    sec_max = 0
    for x in a:
        if x >= max:
            sec_max = max
            max = x
        elif sec_max < x:
            sec_max = x
    return sec_max
a = [10,20,4,45,99]
a1  =[3,5,7,7,8]
print(second_max(a))
print(second_max(a1))

45
7

# 8. Merge Two Sorted Lists
## Problem Statement:
Write a function to merge two sorted lists into a single sorted list.

## Example 1:
**Input:** `[1, 3, 5]`, `[2, 4, 6]`  
**Output:** `[1, 2, 3, 4, 5, 6]`

## Example 2:
**Input:** `[0, 2, 8]`, `[1, 3, 7]`  
**Output:** `[0, 1, 2, 3, 7, 8]`

In [30]:
def merge_arrays(a1,a2):
    i,j = 0,0
    new = []
    while i < len(a1) and j < len(a2):
        if a1[i] < a2[j]:
            new.append(a1[i])
            i += 1
        else:
            new.append(a2[j])
            j += 1
    while i<len(a1):
        new.append(a1[i])
        i += 1
    while j<len(a2):
        new.append(a2[j])
        j += 1
    return new
a1,a2 = [1, 3, 5], [2, 4, 6]
a3,a4 = [0, 2, 8], [1, 3, 7]
print(merge_arrays(a1,a2))
print(merge_arrays(a3,a4))

[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 7, 8]

# 9. Remove Duplicates from a List
## Problem Statement:
Write a function to remove duplicate elements from a list while maintaining order.

## Example 1:
**Input:** `[1, 2, 2, 3, 4, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [33]:
lst = ["a", "b", "a", "c", "c", "d"]
def remove_dup(lst):
    new_lst = []
    for x in lst:
        if x not in new_lst:
            new_lst.append(x)
    return new_lst
print(remove_dup(lst))

['a', 'b', 'c', 'd']

# 10. Rotate a List by k Positions
## Problem Statement:
Write a function to rotate a list by `k` positions to the right.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `k=2`  
**Output:** `[4, 5, 1, 2, 3]`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `[30, 40, 50, 10, 20]`

In [39]:
def rotate_list(lst,k):
    return lst[-k:] + lst[:len(lst)-k]
lst = [1, 2, 3, 4, 5]
lst1 = [10, 20, 30, 40, 50]
print(rotate_list(lst,2))
print(rotate_list(lst1,3))

[4, 5, 1, 2, 3]
[30, 40, 50, 10, 20]

# 11. Find the Intersection of Two Lists
## Problem Statement:
Write a function to find the common elements between two lists.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[3, 4, 5, 6]`  
**Output:** `[3, 4]`

## Example 2:
**Input:** `["apple", "banana", "cherry"]`, `["banana", "cherry", "date"]`  
**Output:** `["banana", "cherry"]`

In [42]:
def common_element(a1,a2):
    common = []
    for a in a1:
        for b in a2:
            if a==b:
                common.append(a)
                break
    return common
a1,a2 = [1, 2, 3, 4], [3, 4, 5, 6]
a3,a4 = ["apple", "banana", "cherry"], ["banana", "cherry", "date"]
print(common_element(a1,a2))
print(common_element(a3,a4))

[3, 4]
['banana', 'cherry']

# 12. Find the Union of Two Lists
## Problem Statement:
Write a function to return the union of two lists (without duplicates).

## Example 1:
**Input:** `[1, 2, 3]`, `[3, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "c"]`, `["b", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [44]:
def union(a1,a2):
    s = list(set(a1+a2))
    return s
a1,a2 = [1, 2, 3], [3, 4, 5]
a3,a4 = ["a", "b", "c"], ["b", "c", "d"]
print(union(a1,a2))
print(union(a3,a4))

[1, 2, 3, 4, 5]
['d', 'c', 'a', 'b']

# 13. Find the Difference Between Two Lists
## Problem Statement:
Write a function to return elements present in the first list but not in the second.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[2, 4, 6]`  
**Output:** `[1, 3]`

## Example 2:
**Input:** `["cat", "dog", "rabbit"]`, `["dog", "rabbit"]`  
**Output:** `["cat"]`

In [49]:
def difference(a1,a2):
    s1,s2 = set(a1),set(a2)
    return list(s1-s2)
a1,a2 = [1, 2, 3, 4], [2, 4, 6]
a3,a4 = ["cat", "dog", "rabbit"], ["dog", "rabbit"]
print(difference(a1,a2))
print(difference(a3,a4))

[1, 3]
['cat']

# 14. Find the Mode of a List
## Problem Statement:
Write a function to return the most frequently occurring element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `3`

## Example 2:
**Input:** `["apple", "banana", "apple", "cherry", "apple"]`  
**Output:** `"apple"`

In [51]:
def most_frequent(a):
    d1 = {}
    for i in range(len(a)):
        if a[i] in d1.keys(): d1[a[i]] += 1
        else: d1[a[i]] = 1
    max,max_key = d1[a[0]],a[0]
    for key in d1.keys():
        if d1[key] > max:
            max = d1[key]
            max_key = key
    return max_key

a = [1,2,2,3,3,3]
a1 = ["apple", "banana", "apple", "cherry", "apple"]
print(most_frequent(a))
print(most_frequent(a1))

3
apple

# 15. Flatten a Nested List
## Problem Statement:
Write a function to flatten a nested list into a single list.

## Example 1:
**Input:** `[[1, 2, [3]], 4]`  
**Output:** `[1, 2, 3, 4]`

## Example 2:
**Input:** `[["a", ["b", "c"]], "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [61]:
def removeNestings(l):
    for i in l:
        if type(i) == list:
            removeNestings(i)
        else:
            output.append(i)
    return output
l = [[1, 2, [3]], 4]
l2 = [["a", ["b", "c"]], "d"]
output = []
print(removeNestings(l))
output = []
print(removeNestings(l2))

[1, 2, 3, 4]
['a', 'b', 'c', 'd']

# 16. Find Pairs in a List That Sum to a Target Value
## Problem Statement:
Write a function to find all pairs in a list that sum to a given target.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `target=6`  
**Output:** `[(1, 5), (2, 4)]`

## Example 2:
**Input:** `[2, 4, 6, 8]`, `target=10`  
**Output:** `[(2, 8), (4, 6)]`

In [65]:
def find_pairs(arr, target):
    pairs = []
    for i in range(len(arr)):
        for j in range(i+1,len(arr)):
            if arr[i] + arr[j] == target: pairs.append((arr[i],arr[j]))
    return pairs
a = [2, 4, 6, 8]

print(find_pairs(a,10))

[(2, 8), (4, 6)]

# 17. Find the Product of All Elements Except Self
## Problem Statement:
Write a function that returns a list where each index contains the product of all numbers except the number at that index.

## Example 1:
**Input:** `[1, 2, 3, 4]`  
**Output:** `[24, 12, 8, 6]`

## Example 2:
**Input:** `[5, 6, 7]`  
**Output:** `[42, 35, 30]`

In [67]:
def find_product(a):
    product = 1
    for i in a:
        product = i*product
    products = []
    for i in a:
        p = product // i
        products.append(p)
    return products
a = [5, 6, 7]
print(find_product(a))

[42, 35, 30]

# 18. Find the Longest Consecutive Sequence in a List
## Problem Statement:
Write a function to find the longest sequence of consecutive numbers in a list.

## Example 1:
**Input:** `[100, 4, 200, 1, 3, 2]`  
**Output:** `4  (sequence: [1, 2, 3, 4])`

## Example 2:
**Input:** `[10, 11, 12, 50, 51, 52]`  
**Output:** `3  (sequence: [10, 11, 12])`

# 19. Check if a List Contains a Sublist
## Problem Statement:
Write a function to check if a list contains a given sublist.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `[3, 4]`  
**Output:** `True`

## Example 2:
**Input:** `[10, 20, 30, 40]`, `[20, 50]`  
**Output:** `False`

In [77]:
def check_sublist(a1,a2):
    n = len(a2)
    for i in range(len(a1)):
        if a2 == a1[i:i+n]: return True
    return False
a1,a2 = [10, 20, 30, 40], [30,40]
print(check_sublist(a1,a2))

True

# 20. Find the Kth Largest Element in a List
## Problem Statement:
Write a function to find the `k`th largest element in a list.

## Example 1:
**Input:** `[3, 2, 1, 5, 6, 4]`, `k=2`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `30`

In [113]:
def find_k_largest(arr,k):
    a = sorted(arr)
    return a[-k]
arr = [3, 2, 1, 5, 6, 4]
arr1 = [10, 20, 30, 40, 50]
print(find_k_largest(arr,2))
print(find_k_largest(arr1,3))

5
30

# 21. Find All Duplicates in a List
## Problem Statement:
Write a function to return a list of all duplicate elements.

## Example 1:
**Input:** `[1, 2, 3, 4, 2, 3, 5]`  
**Output:** `[2, 3]`

## Example 2:
**Input:** `[10, 10, 20, 30, 30]`  
**Output:** `[10, 30]`

In [83]:
def duplicates(a):
    d1 = {}
    l = []
    for i in range(len(a)):
        if a[i] in d1.keys(): d1[a[i]] += 1
        else: d1[a[i]] = 1
    for key in d1.keys():
        if d1[key] >= 2:
            l.append(key)
    
    return l

a = [1, 2, 3, 4, 2, 3, 5]
a1 = [10, 10, 20, 30, 30]
print(duplicates(a))
print(duplicates(a1))

[2, 3]
[10, 30]

# 22. Partition a List into Even and Odd Elements
## Problem Statement:
Write a function to split a list into two separate lists, one containing even numbers and the other containing odd numbers.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `([2, 4], [1, 3, 5])`

## Example 2:
**Input:** `[10, 15, 20, 25]`  
**Output:** `([10, 20], [15, 25])`

In [85]:
def partition(a):
    p = ([],[])
    for x in a:
        if x%2 == 0: p[0].append(x)
        else: p[1].append(x)
    return p
a = [1, 2, 3, 4, 5]
print(partition(a))
a2 = [10, 15, 20, 25]
print(partition(a2))

([2, 4], [1, 3, 5])
([10, 20], [15, 25])

# 23. Find the First Non-Repeating Element in a List
## Problem Statement:
Write a function to find the first element that does not repeat.

## Example 1:
**Input:** `[4, 5, 1, 2, 0, 4]`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 10, 30, 20]`  
**Output:** `30`

In [90]:
def first_non_repeat(arr):
    d1 = {}
    for i in range(len(s1)):
        if arr[i] in d1.keys(): d1[arr[i]] += 1
        else: d1[arr[i]] = 1
    for key in d1.keys():
        if d1[key] == 1:
            return key
    return "All characters repeat"
a,a1 = [4, 5, 1, 2, 0, 4], [10, 20, 10, 30, 20]
print(first_non_repeat(a))
print(first_non_repeat(a1))

4
30

# 24. Sort a List Without Using Built-in Sort
## Problem Statement:
Write a function to sort a list in ascending order without using Python’s built-in sort.

## Example 1:
**Input:** `[3, 1, 4, 1, 5, 9]`  
**Output:** `[1, 1, 3, 4, 5, 9]`

## Example 2:
**Input:** `[10, 5, 2, 8]`  
**Output:** `[2, 5, 8, 10]`

In [94]:
def sort_list(arr):
    for i in range(len(arr)):
        min, min_index = arr[i],i
        for j in range(i,len(arr)):
            if arr[j] < min:
                min,min_index = arr[j],j
        arr[i],arr[min_index] = arr[min_index],arr[i]
    return arr
a = [10, 8, 5, 2]
print(sort_list(a))

[2, 5, 8, 10]

# 25. Find All Triplets That Sum to Zero
## Problem Statement:
Write a function to find all triplets in a list that sum to zero.

## Example 1:
**Input:** `[-1, 0, 1, 2, -1, -4]`  
**Output:** `[[-1, -1, 2], [-1, 0, 1]]`

## Example 2:
**Input:** `[1, -2, 1, 0, 5]`  
**Output:** `[[-2, 1, 1]]`

In [110]:
def find_triplets(a):
    triplets = []
    for i in range(len(a)):
        for j in range(i+1,len(a)):
            for k in range(j+1,len(a)):
                if a[i] + a[j] + a[k] == 0:
                    x = [a[i],a[j],a[k]]
                    x.sort()
                    if x not in triplets:
                        triplets.append(x)
    return triplets

In [111]:
a,a1 = [-1, 0, 1, 2, -1, -4], [1, -2, 1, 0, 5]
print(find_triplets(a))
print(find_triplets(a1))

[[-1, 0, 1], [-1, -1, 2]]
[[-2, 1, 1]]