# 1. Find the Sum of All Elements in a List
## Problem Statement:
Write a function to return the sum of all elements in a list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `15`

## Example 2:
**Input:** `[10, -2, 3]`  
**Output:** `11`

In [1]:
def sum_elements (x):
    sum = 0
    for element in x:
        sum += element
    return sum
sum_elements ([1,2,3,4,5])

15

# 2. Find the Maximum Element in a List
## Problem Statement:
Write a function to find the maximum element in a list.

## Example 1:
**Input:** `[3, 5, 1, 9, 2]`  
**Output:** `9`

## Example 2:
**Input:** `[10, 22, 5, 8]`  
**Output:** `22`

In [5]:
def list_max (x):
    max = float ('-inf')
    for element in x:
        if element > max:
            max = element
    return max
list_max ([10,22,5,8])

22

# 3. Find the Minimum Element in a List
## Problem Statement:
Write a function to find the minimum element in a list.

## Example 1:
**Input:** `[4, 7, 1, 9]`  
**Output:** `1`

## Example 2:
**Input:** `[10, 15, 3, 8]`  
**Output:** `3`

In [18]:
def list_min (x):
    min = float ('inf')
    for element in x:
        if element < min:
            min = element
    return min
list_min ([10,22,5,8])

5

# 4. Reverse a List
## Problem Statement:
Write a function to reverse a given list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `[5, 4, 3, 2, 1]`

## Example 2:
**Input:** `["a", "b", "c", "d"]`  
**Output:** `["d", "c", "b", "a"]`

In [37]:
def reverse_list (x):
    reversed =[]
    for i in range (len(x)-1,-1,-1):
        reversed.append(x[i])
    return reversed

print (reverse_list ([1,2,3,4,5,"a"]))

y = [1,2,3,4,5]
print (list(reversed(y)))

['a', 5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

# 5. Check if a List is Palindromic
## Problem Statement:
Write a function to check if a list is the same forward and backward.

## Example 1:
**Input:** `[1, 2, 3, 2, 1]`  
**Output:** `True`

## Example 2:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `False`

In [41]:
def is_palindrome (x):
    reverse = x[::-1]
    if reverse == x:
        return True
    else:
        return False

is_palindrome ([1,2,3,2,1,])

True

# 6. Count the Frequency of Elements in a List
## Problem Statement:
Write a function to count the occurrences of each element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `{1: 1, 2: 2, 3: 3}`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "c"]`  
**Output:** `{"a": 2, "b": 1, "c": 3}`

In [57]:
a = [1,2,2,2,3,3]

def freq_count (x):
    count = {}
    for element in x:
        count[element] = count.get(element,0) + 1
    return count

freq_count (a)

{1: 1, 2: 3, 3: 2}

# 7. Find the Second Largest Number in a List
## Problem Statement:
Write a function to find the second largest number in a list.

## Example 1:
**Input:** `[10, 20, 4, 45, 99]`  
**Output:** `45`

## Example 2:
**Input:** `[3, 5, 7, 7, 8]`  
**Output:** `7`

In [62]:
def second_largest (x):
    first = second = float ('-inf')
    for num in x:
        if num > first:
            second = first
            first = num
        elif first > num > second:
            second = num
    return second

x = [3,5,7,7,8]
print (second_largest(x))

7

# 8. Merge Two Sorted Lists
## Problem Statement:
Write a function to merge two sorted lists into a single sorted list.

## Example 1:
**Input:** `[1, 3, 5]`, `[2, 4, 6]`  
**Output:** `[1, 2, 3, 4, 5, 6]`

## Example 2:
**Input:** `[0, 2, 8]`, `[1, 3, 7]`  
**Output:** `[0, 1, 2, 3, 7, 8]`

In [ ]:
def merged_sorted_lists (x1,x2):
    merged = []
    i = j = 0
    while (i < len(x1)) and (j < len(x2)):
        if x1[i] <= x2[j]:
            merged.append(x1[i])
            i = i + 1
        else:
            merged.append(x2[j])
            j = j + 1
    if j < len(x2):
        merged.extend(x2[j:])
    if i < len(x1):
        merged.extend(x1[i:])

    return merged

merged_sorted_lists([0,2,8,10],[1,3,7,11])

[0, 1, 2, 3, 7, 8, 10, 11]

In [24]:
# merge sort algorithm 
def merge_sort(array):

    def merge (left, right):
        merged = []
        i=j=0
        while (i<len(left)) and (j<len(right)):
            if left[i] <= right[j]:
                merged.append(left[i])
                i += 1
            else:
                merged.append(right[j])
                j += 1
        if j<len(right):
            merged.extend (right[j:])
        if i<len(left):
            merged.extend (left[i:])
        return merged
        
    if len(array) < 2:
        return array
    mid = len(array) //2
    left_half = merge_sort(array[:mid])
    right_half = merge_sort (array[mid:])

    return merge (left_half, right_half)

merge_sort ([11,2,5,4,3,7,1])

[1, 2, 3, 4, 5, 7, 11]

# 9. Remove Duplicates from a List
## Problem Statement:
Write a function to remove duplicate elements from a list while maintaining order.

## Example 1:
**Input:** `[1, 2, 2, 3, 4, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [74]:
def remove_duplicates (x):
    element_set = set()
    new_list = []
    for element in x:
        if element not in element_set:
            element_set.add(element)
            new_list.append(element)
    return new_list

remove_duplicates ([1,2,2,3,4,4,5])

[1, 2, 3, 4, 5]

# 10. Rotate a List by k Positions
## Problem Statement:
Write a function to rotate a list by `k` positions to the right.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `k=2`  
**Output:** `[4, 5, 1, 2, 3]`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `[30, 40, 50, 10, 20]`

In [ ]:
def right_rotate_list (_list, k):
    for _ in range (k):
        _list.insert (0,_list.pop())
    return _list

right_rotate_list([10,20,30,40,50],3)

[30, 40, 50, 10, 20]

# 11. Find the Intersection of Two Lists
## Problem Statement:
Write a function to find the common elements between two lists.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[3, 4, 5, 6]`  
**Output:** `[3, 4]`

## Example 2:
**Input:** `["apple", "banana", "cherry"]`, `["banana", "cherry", "date"]`  
**Output:** `["banana", "cherry"]`

In [82]:
def list_intersection (x1,x2):
    intersection = []
    for element in x1:
        if (element in x1) and (element in x2):
            intersection.append(element)
    return intersection

print (list_intersection ([1,2,3,4],[3,4,5,6]))
print (list_intersection (['apple','banana','cherry'],['banana','cherry','date']))

[3, 4]
['banana', 'cherry']

# 12. Find the Union of Two Lists
## Problem Statement:
Write a function to return the union of two lists (without duplicates).

## Example 1:
**Input:** `[1, 2, 3]`, `[3, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "c"]`, `["b", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [91]:
# using sets
def list_union (x1,x2):
    return list (set(x1+x2))
list_union ([1,2,3],[3,4,5])

[1, 2, 3, 4, 5]

In [85]:
a = [1,2,2,3]
b = [4,5]
a+b

[1, 2, 2, 3, 4, 5]

# 13. Find the Difference Between Two Lists
## Problem Statement:
Write a function to return elements present in the first list but not in the second.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[2, 4, 6]`  
**Output:** `[1, 3]`

## Example 2:
**Input:** `["cat", "dog", "rabbit"]`, `["dog", "rabbit"]`  
**Output:** `["cat"]`

In [96]:
def list_diff(x1, x2):
    return list(set(x1).symmetric_difference(set(x2)))

list_diff ([1,2,3,4],[2,4,6])

[1, 3, 6]

# 14. Find the Mode of a List
## Problem Statement:
Write a function to return the most frequently occurring element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `3`

## Example 2:
**Input:** `["apple", "banana", "apple", "cherry", "apple"]`  
**Output:** `"apple"`

In [3]:
def list_mode (x):
    count = {}
    for element in x:
        count[element] = count.get(element,0)+1
    for item, freq in count.items():
        if freq == max(count.values()):
            return item
    
list_mode (["apple", "banana", "apple", "cherry", "apple"])

'apple'

In [11]:
from collections import Counter

def most_frequent_element(lst):
    if not lst:
        return None  # handle empty list
    counts = Counter(lst)
    return counts.most_common()[0][0]

most_frequent_element ([1,1,1,2,2,3])

1

# 15. Flatten a Nested List
## Problem Statement:
Write a function to flatten a nested list into a single list.

## Example 1:
**Input:** `[[1, 2, [3]], 4]`  
**Output:** `[1, 2, 3, 4]`

## Example 2:
**Input:** `[["a", ["b", "c"]], "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [18]:
def flatten_nested_list (x):
    new_list = []
    for element in x:
        if isinstance (element,list):
            new_list.extend (flatten_nested_list(element))
        else:
            new_list.append(element)
    
    return new_list

flatten_nested_list ([[1, 2, [3,5]], 4])

[1, 2, 3, 5, 4]

# 16. Find Pairs in a List That Sum to a Target Value
## Problem Statement:
Write a function to find all pairs in a list that sum to a given target.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `target=6`  
**Output:** `[(1, 5), (2, 4)]`

## Example 2:
**Input:** `[2, 4, 6, 8]`, `target=10`  
**Output:** `[(2, 8), (4, 6)]`

In [31]:
def find_pairs (lst, target):
    pairs = []
    for i in range (len(lst)):
        for j in range (i+1,len(lst)):
            if lst[i] + lst[j] == target:
                pairs.append((lst[i],lst[j]))

    return pairs if pairs else None

print (find_pairs ([1,2,3,4,5],6))
print (find_pairs ([2,4,6,8],10))

[(1, 5), (2, 4)]
[(2, 8), (4, 6)]

# 17. Find the Product of All Elements Except Self
## Problem Statement:
Write a function that returns a list where each index contains the product of all numbers except the number at that index.

## Example 1:
**Input:** `[1, 2, 3, 4]`  
**Output:** `[24, 12, 8, 6]`

## Example 2:
**Input:** `[5, 6, 7]`  
**Output:** `[42, 35, 30]`

In [42]:
def special_product (x):
    products = []
    for i in range (len(x)):
        product = 1
        for j in range (len(x)):
            if i != j:
                product = product * x[j]
        products.append(product)
    return products
special_product ([1,2,3,4])

[24, 12, 8, 6]

In [64]:
def special_product_2 (x):
    product = 1
    for i in range (len(x)):
        product *= x[i]
    products = [product] * len(x)
    for index, element  in enumerate (x):
        products[index] = int (products[index] / element)
    return products
 
special_product_2 ([1,2,3,4])

[24, 12, 8, 6]

# 18. Find the Longest Consecutive Sequence in a List
## Problem Statement:
Write a function to find the longest sequence of consecutive numbers in a list.

## Example 1:
**Input:** `[100, 4, 200, 1, 3, 2]`  
**Output:** `4  (sequence: [1, 2, 3, 4])`

## Example 2:
**Input:** `[10, 11, 12, 50, 51, 52]`  
**Output:** `3  (sequence: [10, 11, 12])`

In [ ]:
# was doing this 
def longest_sequence (x):
    sequence = {}
    for i, element in x:
        if x[i+1] == x[i]+1:
            sequence[x[i],x[i+1]] = sequence.get([x[i],x[i+1],1])+1

In [67]:
sequence = {}
sequence[1,2,3,4] = 5
sequence [1,3,2,4] = 6
print (sequence)

{(1, 2, 3, 4): 5, (1, 3, 2, 4): 6}

# 19. Check if a List Contains a Sublist
## Problem Statement:
Write a function to check if a list contains a given sublist.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `[3, 4]`  
**Output:** `True`

## Example 2:
**Input:** `[10, 20, 30, 40]`, `[20, 50]`  
**Output:** `False`

In [135]:
def has_sublist (_list, sub_list):
    if sub_list[0] not in _list:
        return False
    else:
        index =_list.index(sub_list[0])
        for i in range (1,len(sub_list)):
            if _list[index+i] != sub_list[i]:
                return False
        return True
    
print (has_sublist([10,20,30,40],[20,50]))
print (has_sublist([1,2,3,4,5],[3,4]))

False
True

In [123]:
for i in range (1,3):
    print (i)

1
2

# 20. Find the Kth Largest Element in a List
## Problem Statement:
Write a function to find the `k`th largest element in a list.

## Example 1:
**Input:** `[3, 2, 1, 5, 6, 4]`, `k=2`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `30`

In [ ]:
# using heaps
import heapq

def find_kth_largest(nums, k):
    return heapq.nlargest(k, nums)[-1]

find_kth_largest ([15,11,7,19,5,3],3)

11

In [86]:
# using built-in sort

def find_kth_largest_2 (_list,k):
    _list.sort(reverse =True)
    return _list[k-1]

print (find_kth_largest_2([15,11,7,19,5,3],1))

19

In [104]:
import heapq

def kth_largest_heap(nums, k):
    min_heap = []
    for num in nums:
        print (f"num = {num}")
        print (min_heap)
        heapq.heappush(min_heap, num)
        print (f"min_heap after pushing: {min_heap}")
        if len(min_heap) > k:
            heapq.heappop(min_heap)
            print (f"min heap after popping :{min_heap}")
    return min_heap[0]

kth_largest_heap ([15,11,7,19,5,3],4)

num = 15
[]
min_heap after pushing: [15]
num = 11
[15]
min_heap after pushing: [11, 15]
num = 7
[11, 15]
min_heap after pushing: [7, 15, 11]
num = 19
[7, 15, 11]
min_heap after pushing: [7, 15, 11, 19]
num = 5
[7, 15, 11, 19]
min_heap after pushing: [5, 7, 11, 19, 15]
min heap after popping :[7, 15, 11, 19]
num = 3
[7, 15, 11, 19]
min_heap after pushing: [3, 7, 11, 19, 15]
min heap after popping :[7, 15, 11, 19]

7

# 21. Find All Duplicates in a List
## Problem Statement:
Write a function to return a list of all duplicate elements.

## Example 1:
**Input:** `[1, 2, 3, 4, 2, 3, 5]`  
**Output:** `[2, 3]`

## Example 2:
**Input:** `[10, 10, 20, 30, 30]`  
**Output:** `[10, 30]`

In [85]:
def duplicates (x):
    freq  = {}
    duplicated = []
    for number in x:
        if number in freq:
            freq[number] += freq[number] + 1
        else:
            freq[number] = 1
    for key, value in freq.items():
        if value > 1:
            duplicated.append(key)
    return duplicated

duplicates ([1,2,3,4,2,3,5,1])

[1, 2, 3]

# 22. Partition a List into Even and Odd Elements
## Problem Statement:
Write a function to split a list into two separate lists, one containing even numbers and the other containing odd numbers.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `([2, 4], [1, 3, 5])`

## Example 2:
**Input:** `[10, 15, 20, 25]`  
**Output:** `([10, 20], [15, 25])`

In [74]:
def even_odd_partition (x):
    even = [number for number in x if number%2 == 0]
    odd = [number for number in x if number%2 != 0]
    return even,odd

even_odd_partition ([1,2,3,4,5,6,7])

([2, 4, 6], [1, 3, 5, 7])

# 23. Find the First Non-Repeating Element in a List
## Problem Statement:
Write a function to find the first element that does not repeat.

## Example 1:
**Input:** `[4, 5, 1, 2, 0, 4]`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 10, 30, 20]`  
**Output:** `30`

In [86]:
def first_unique (x):
    freq = {}
    for number in x:
        if number in freq:
            freq[number] += freq[number]+1
        else:
            freq[number] = 1
    for number in x:
        if freq[number] == 1:
            return number
first_unique ([10,20,10,30,20])

30

# 24. Sort a List Without Using Built-in Sort
## Problem Statement:
Write a function to sort a list in ascending order without using Pythonâ€™s built-in sort.

## Example 1:
**Input:** `[3, 1, 4, 1, 5, 9]`  
**Output:** `[1, 1, 3, 4, 5, 9]`

## Example 2:
**Input:** `[10, 5, 2, 8]`  
**Output:** `[2, 5, 8, 10]`

In [26]:
# bubble sort
def bubble_sort (x):
    for i in range (len(x)):
        for j in range (i+1,len(x)):
            if x[i] > x[j]:
                x[i],x[j] = x[j],x[i]
    return x

bubble_sort ([3,1,4,1,5,9])

[1, 1, 3, 4, 5, 9]

In [25]:
# merge sort 
def merge_sort(array):

    def merge (left, right):
        merged = []
        i=j=0
        while (i<len(left)) and (j<len(right)):
            if left[i] <= right[j]:
                merged.append(left[i])
                i += 1
            else:
                merged.append(right[j])
                j += 1
        if j<len(right):
            merged.extend (right[j:])
        if i<len(left):
            merged.extend (left[i:])
        return merged
        
    if len(array) < 2:
        return array
    mid = len(array) //2
    left_half = merge_sort(array[:mid])
    right_half = merge_sort (array[mid:])

    return merge (left_half, right_half)

merge_sort ([11,2,5,4,3,7,1])

[1, 2, 3, 4, 5, 7, 11]

In [16]:
a = [1,2,3,4]
b =[4,5,6]
c = a+b
print (c)

[1, 2, 3, 4, 4, 5, 6]

# 25. Find All Triplets That Sum to Zero
## Problem Statement:
Write a function to find all triplets in a list that sum to zero.

## Example 1:
**Input:** `[-1, 0, 1, 2, -1, -4]`  
**Output:** `[[-1, -1, 2], [-1, 0, 1]]`

## Example 2:
**Input:** `[1, -2, 1, 0, 5]`  
**Output:** `[[-2, 1, 1]]`

In [3]:
def triplets (x):
    triplets = []
    for i in range (len(x)):
        for j in range (i+1,len(x)):
            for k in range (j+1,len(x)):
                triplet = (x[i],x[j],x[k])
                triplets.append(triplet)
    return triplets

triplets ([1,2,3,4,5])

[(1, 2, 3),
 (1, 2, 4),
 (1, 2, 5),
 (1, 3, 4),
 (1, 3, 5),
 (1, 4, 5),
 (2, 3, 4),
 (2, 3, 5),
 (2, 4, 5),
 (3, 4, 5)]

In [7]:
def zer_sum_triplets (x):
    triplets = []
    for i in range (len(x)):
        for j in range (i+1,len(x)):
            for k in range (j+1,len(x)):
                if x[i]+x[j]+x[k] == 0:
                    triplets.append((x[i],x[j],x[k]))
    return triplets

zer_sum_triplets ([-1, 0, 1, 2, -1, -4, 6, 7, -2, 3, 10, -5])

[(-1, 0, 1),
 (-1, 2, -1),
 (-1, 6, -5),
 (-1, -2, 3),
 (0, 1, -1),
 (0, 2, -2),
 (1, -4, 3),
 (2, 3, -5),
 (-1, 6, -5),
 (-1, -2, 3),
 (-4, 6, -2),
 (7, -2, -5)]