In [ ]:

Reverse a String
Task: Write a function that takes a string and returns it reversed.
Input: "hello"
Output: "olleh"

In [13]:
string = "hello"
def reverse_str(string):
    return (string[::-1])
print(reverse_str(string))

olleh

In [ ]:

Count Vowels
Task: Count the number of vowels in a given lowercase string.
Input: "data science"
Output: 5

In [14]:
string = "data science"
def count_vowels(string):
    c = 0
    vowels = ["a","e","i","o","u"]
    for s in string:
        if s in vowels:
            c += 1
    print(c)
count_vowels(string)

5

In [ ]:

Sum of List
Task: Return the sum of all numbers in a given list.
Input: [1, 2, 3, 4, 5]
Output: 15

In [16]:
lst = [1,2,3,4,5]
def sum_list(lst):
    s = 0
    for x in lst:
        s += x
    print(s)
sum_list(lst)

15

In [ ]:

Check Palindrome
Task: Return True if the given string is a palindrome, otherwise False.
Input: "madam"
Output: True

In [7]:
st = "madam"
st1 = "hamza"
def check_palindrome(st):
    if st == st[::-1]:
        return True
    return False
print(check_palindrome(st))
print(check_palindrome(st1))

True
False

In [ ]:

Remove Duplicates from List
Task: Remove duplicates from a list while preserving order.
Input: [1, 3, 2, 1, 3, 4]
Output: [1, 3, 2, 4]

In [17]:
lst = [1,3,2,1,3,4]
def remove_dup(lst):
    new_lst = []
    for x in lst:
        if x not in new_lst:
            new_lst.append(x)
    return new_lst
print(remove_dup(lst))

[1, 3, 2, 4]

In [ ]:

Word Frequency Counter
Task: Count the frequency of each word in a string and return a dictionary.
Input: "apple banana apple orange"
Output: {'apple': 2, 'banana': 1, 'orange': 1}

In [18]:
string = "apple banana apple orange"
def count_freq(string):
    dct = {}
    new_str = string.split()
    
    for s in new_str:
        if s in dct.keys():
            dct[s] += 1
        else:
            dct[s] = 1
            
    return dct
print(count_freq(string))

{'apple': 2, 'banana': 1, 'orange': 1}

In [ ]:

List of Even Squares
Task: Return a list of squares of even numbers from a given list.
Input: [1, 2, 3, 4, 5]
Output: [4, 16]

In [19]:
def even_nums(lst):
    evens = []
    for x in lst:
        if x % 2==0:
            evens.append(x*x)
    return evens
lst = [1,2,3,4,5]
print(even_nums(lst))

[4, 16]

In [ ]:

Flatten Nested List
Task: Flatten a 2D list into a 1D list.
Input: [[1, 2], [3, 4], [5]]
Output: [1, 2, 3, 4, 5]

In [22]:
lst = [[1, 2], [3, 4], [5]]
def flatten_list(lst):
    new_lst = []
    for i in range(len(lst)):
        for j in range(len(lst[i])):
            new_lst.append(lst[i][j])
    return new_lst
print(flatten_list(lst))

[1, 2, 3, 4, 5]

In [ ]:

Group Words by Length
Task: Group words from a list into a dictionary based on their length.
Input: ["a", "to", "tea", "ted", "ten"]
Output: {1: ['a'], 2: ['to'], 3: ['tea', 'ted', 'ten']}

In [56]:
def group_words(words):
    dct = {}
    for word in words:
        n = len(word)
        if n in dct.keys():
            dct[n].append(word)
        else:
            dct[n] = [word]
    return dct
words = ["a", "to", "tea", "ted", "four", "ten", "fives"]
print(group_words(words))

{1: ['a'], 2: ['to'], 3: ['tea', 'ted', 'ten'], 4: ['four'], 5: ['fives']}

In [ ]:

Fibonacci Generator
Task: Write a generator that yields the first n Fibonacci numbers.
Input: n = 6
Output: [0, 1, 1, 2, 3, 5]

In [48]:
def fib(n):
    fib = [0,1]
    for i in range(1,n-1):
        new = fib[i-1] + fib[i]
        fib.append(new)
    return fib
print(fib(6))
print(fib(8))

[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8, 13]

In [ ]:

Merge Dictionaries by Summing Values
Task: Merge two dictionaries by summing values of common keys.
Input: {'a': 5, 'b': 3}, {'a': 2, 'c': 4}
Output: {'a': 7, 'b': 3, 'c': 4}

In [39]:
def merge_dict(d1,d2):
    dct = {}
    for key in d1.keys():
        if key in d2.keys():
            dct[key] = d1[key] + d2[key]
        else:
            dct[key] = d1[key]
    for key in d2.keys():
        if key not in d1.keys():
            dct[key] = d2[key]
    return dct
d1 = {'a': 5, 'b': 3}
d2 = {'a': 2, 'c': 4}
print(merge_dict(d1,d2))

{'a': 7, 'b': 3, 'c': 4}

In [ ]:

Custom Sorting
Task: Sort a list of tuples based on the second element in descending order.
Input: [('a', 3), ('b', 1), ('c', 2)]
Output: [('a', 3), ('c', 2), ('b', 1)]

In [54]:
def sort_lst(lst):
    lst = sorted(lst, key=lambda x:x[1])
    return lst[::-1]
lst  = [('a', 3), ('b', 1), ('c', 2)]
print(sort_lst(lst))

[('a', 3), ('c', 2), ('b', 1)]

In [ ]:
Given n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it can trap after raining.
Example 1:
Input: height = [0,1,0,2,1,0,1,3,2,1,2,1]
Output: 6
Explanation: The above elevation map (black section) is represented by array [0,1,0,2,1,0,1,3,2,1,2,1]. In this case, 6 units of rain water (blue section) are being trapped.
Example 2:
Input: height = [4,2,0,3,2,5]
Output: 9
Constraints:
n == height.length
1 <= n <= 2 * 104
0 <= height[i] <= 105