# 1. Find the Sum of All Elements in a List
## Problem Statement:
Write a function to return the sum of all elements in a list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `15`

## Example 2:
**Input:** `[10, -2, 3]`  
**Output:** `11`

In [75]:
def sum_list(list1):
    sum = 0
    for i in list1:
        sum = sum + i
    return sum

list1 = [1, 2, 3, 4, 5]
result1 = sum_list(list1)
print(result1)
list2 = [10, -2, 3]
result2 = sum_list(list2)
print(result2)

15
11

# 2. Find the Maximum Element in a List
## Problem Statement:
Write a function to find the maximum element in a list.

## Example 1:
**Input:** `[3, 5, 1, 9, 2]`  
**Output:** `9`

## Example 2:
**Input:** `[10, 22, 5, 8]`  
**Output:** `22`

In [77]:
def max_list(list1):
    max_element = list1[0]
    for i in list1:
        if i > max_element:
            max_element = i
    return max_element

input1 = [3,5,1,9,2]
result1 = max_list(input1)
print(result1)
input2 = [10,22,5,8]
result2 = max_list(input2)
print(result2)

9
22

# 3. Find the Minimum Element in a List
## Problem Statement:
Write a function to find the minimum element in a list.

## Example 1:
**Input:** `[4, 7, 1, 9]`  
**Output:** `1`

## Example 2:
**Input:** `[10, 15, 3, 8]`  
**Output:** `3`

In [73]:
def min_element(list1):
    min_ele = list1[0]
    for i in list1:
        if i < min_ele:
            min_ele = i
    return min_ele


list1 = [4,7,1,9]
list2 = [10, 15, 3, 8]
result = min_element(list1)
result2 = min_element(list2)
print(result)
print(result2)

1
3

# 4. Reverse a List
## Problem Statement:
Write a function to reverse a given list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `[5, 4, 3, 2, 1]`

## Example 2:
**Input:** `["a", "b", "c", "d"]`  
**Output:** `["d", "c", "b", "a"]`

In [67]:
def reverse_list(a):
    b = a[::-1]
    return b

list1 = [1,2,3,4,5]
list2 = ["a","b","c","d"]

result1 = reverse_list(list1)
print(result1)

result2 = reverse_list(list2)
print(result2)

[5, 4, 3, 2, 1]

# 5. Check if a List is Palindromic
## Problem Statement:
Write a function to check if a list is the same forward and backward.

## Example 1:
**Input:** `[1, 2, 3, 2, 1]`  
**Output:** `True`

## Example 2:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `False`

In [61]:
def check_palindrome(a):
    if a == a[::-1]:
        print("True")
    else:
        print("False")

list1 = [1,2,3,2,1]
list2 = [1,2,3,4,5]
check_palindrome(list1)
check_palindrome(list2)

True
False

# 6. Count the Frequency of Elements in a List
## Problem Statement:
Write a function to count the occurrences of each element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `{1: 1, 2: 2, 3: 3}`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "c"]`  
**Output:** `{"a": 2, "b": 1, "c": 3}`

# 7. Find the Second Largest Number in a List
## Problem Statement:
Write a function to find the second largest number in a list.

## Example 1:
**Input:** `[10, 20, 4, 45, 99]`  
**Output:** `45`

## Example 2:
**Input:** `[3, 5, 7, 7, 8]`  
**Output:** `7`

In [40]:
input2 = [10,20,4,45,99]
input3 = sorted(input2)
print(input3)
n = len(input3)
print(input3[n-2])

[4, 10, 20, 45, 99]
45

# 8. Merge Two Sorted Lists
## Problem Statement:
Write a function to merge two sorted lists into a single sorted list.

## Example 1:
**Input:** `[1, 3, 5]`, `[2, 4, 6]`  
**Output:** `[1, 2, 3, 4, 5, 6]`

## Example 2:
**Input:** `[0, 2, 8]`, `[1, 3, 7]`  
**Output:** `[0, 1, 2, 3, 7, 8]`

In [66]:
def single_sorted_list(a,b):

    input3 = sorted(a + b)
    return input3

list1 = [1,3,5]
list2 = [2,4,6]
result = single_sorted_list(input1,input2)
print(result)

[1, 2, 3, 4, 5, 6]

# 9. Remove Duplicates from a List
## Problem Statement:
Write a function to remove duplicate elements from a list while maintaining order.

## Example 1:
**Input:** `[1, 2, 2, 3, 4, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [78]:
def remove_duplicate_element_from_list(list1):
    list2 = []
    for i in list1:
        if i not in list2:
            list2.append(i)
    return list2

input1 = [1, 2, 2, 3, 4, 4, 5]
result1 = remove_duplicate_element_from_list(input1)
print(result1)
input2 = ["a", "b", "a", "c", "c", "d"]
result2 = remove_duplicate_element_from_list(input2)
print(result2)

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']

# 10. Rotate a List by k Positions
## Problem Statement:
Write a function to rotate a list by `k` positions to the right.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `k=2`  
**Output:** `[4, 5, 1, 2, 3]`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `[30, 40, 50, 10, 20]`

In [82]:
def rotate_list(list1,k):
    k = k % len(list1)
    list2 = list1[-k:] + list1[:-k]
    return list2

list1 = [1,2,3,4,5]
k2 = 2
result1 = rotate_list(list1,k2)
print(result1)
list2 = [10,20,30,40,50]
k1 = 3
result2 = rotate_list(list2,k1)
print(result2)

[4, 5, 1, 2, 3]
[30, 40, 50, 10, 20]

# 11. Find the Intersection of Two Lists
## Problem Statement:
Write a function to find the common elements between two lists.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[3, 4, 5, 6]`  
**Output:** `[3, 4]`

## Example 2:
**Input:** `["apple", "banana", "cherry"]`, `["banana", "cherry", "date"]`  
**Output:** `["banana", "cherry"]`

In [84]:
def find_intersection(list1, list2):
    common = []
    for item in list1:
        if item in list2 and item not in common:
            common.append(item)
    return common

result1 = find_intersection([1, 2, 3, 4], [3, 4, 5, 6])
print(result1) 


result2 = find_intersection(["apple", "banana", "cherry"], ["banana", "cherry", "date"])
print(result2)

[3, 4]
['banana', 'cherry']

# 12. Find the Union of Two Lists
## Problem Statement:
Write a function to return the union of two lists (without duplicates).

## Example 1:
**Input:** `[1, 2, 3]`, `[3, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "c"]`, `["b", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [86]:
def find_union(list1, list2):
    union = []
    for item in list1 + list2:
        if item not in union:
            union.append(item)
    return union

result1 = find_union([1, 2, 3], [3, 4, 5])
print(result1) 


result2 = find_union(["a", "b", "c"], ["b", "c", "d"])
print(result2)

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']

# 13. Find the Difference Between Two Lists
## Problem Statement:
Write a function to return elements present in the first list but not in the second.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[2, 4, 6]`  
**Output:** `[1, 3]`

## Example 2:
**Input:** `["cat", "dog", "rabbit"]`, `["dog", "rabbit"]`  
**Output:** `["cat"]`

In [87]:
def list_difference(list1, list2):
    result = []
    for item in list1:
        if item not in list2:
            result.append(item)
    return result

print(list_difference([1, 2, 3, 4], [2, 4, 6]))  

print(list_difference(["cat", "dog", "rabbit"], ["dog", "rabbit"]))

[1, 3]
['cat']

# 14. Find the Mode of a List
## Problem Statement:
Write a function to return the most frequently occurring element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `3`

## Example 2:
**Input:** `["apple", "banana", "apple", "cherry", "apple"]`  
**Output:** `"apple"`

In [88]:
def most_frequent_element(lst):
    freq = {}
    for item in lst:
        freq[item] = freq.get(item, 0) + 1
    return max(freq, key=freq.get)

print(most_frequent_element([1, 2, 2, 3, 3, 3]))  

print(most_frequent_element(["apple", "banana", "apple", "cherry", "apple"]))

3
apple

# 15. Flatten a Nested List
## Problem Statement:
Write a function to flatten a nested list into a single list.

## Example 1:
**Input:** `[[1, 2, [3]], 4]`  
**Output:** `[1, 2, 3, 4]`

## Example 2:
**Input:** `[["a", ["b", "c"]], "d"]`  
**Output:** `["a", "b", "c", "d"]`

# 16. Find Pairs in a List That Sum to a Target Value
## Problem Statement:
Write a function to find all pairs in a list that sum to a given target.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `target=6`  
**Output:** `[(1, 5), (2, 4)]`

## Example 2:
**Input:** `[2, 4, 6, 8]`, `target=10`  
**Output:** `[(2, 8), (4, 6)]`

In [89]:
def find_pairs(nums, target):
    pairs = []
    seen = set()

    for num in nums:
        complement = target - num
        if complement in seen:
            pair = tuple(sorted((num, complement)))
            if pair not in pairs:
                pairs.append(pair)
        seen.add(num)

    return pairs


print(find_pairs([1, 2, 3, 4, 5], 6))

print(find_pairs([2, 4, 6, 8], 10))

[(2, 4), (1, 5)]
[(4, 6), (2, 8)]

# 17. Find the Product of All Elements Except Self
## Problem Statement:
Write a function that returns a list where each index contains the product of all numbers except the number at that index.

## Example 1:
**Input:** `[1, 2, 3, 4]`  
**Output:** `[24, 12, 8, 6]`

## Example 2:
**Input:** `[5, 6, 7]`  
**Output:** `[42, 35, 30]`

In [90]:
def product_except_self(nums):
    n = len(nums)
    left = [1] * n
    right = [1] * n
    result = [1] * n
    for i in range(1, n):
        left[i] = left[i - 1] * nums[i - 1]
    for i in range(n - 2, -1, -1):
        right[i] = right[i + 1] * nums[i + 1]
    for i in range(n):
        result[i] = left[i] * right[i]

    return result


print(product_except_self([1, 2, 3, 4]))

print(product_except_self([5, 6, 7]))

[24, 12, 8, 6]
[42, 35, 30]

# 18. Find the Longest Consecutive Sequence in a List
## Problem Statement:
Write a function to find the longest sequence of consecutive numbers in a list.

## Example 1:
**Input:** `[100, 4, 200, 1, 3, 2]`  
**Output:** `4  (sequence: [1, 2, 3, 4])`

## Example 2:
**Input:** `[10, 11, 12, 50, 51, 52]`  
**Output:** `3  (sequence: [10, 11, 12])`

In [94]:
def longest_consecutive_sequence(nums):
    num_set = set(nums)
    longest = 0

    for num in nums:
        if num - 1 not in num_set:
            current = num
            length = 1

            while current + 1 in num_set:
                current += 1
                length += 1

            longest = max(longest, length)

    return longest

print(longest_consecutive_sequence([100, 4, 200, 1, 3, 2]))

print(longest_consecutive_sequence([10, 11, 12, 50, 51, 52]))

4
3

# 19. Check if a List Contains a Sublist
## Problem Statement:
Write a function to check if a list contains a given sublist.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `[3, 4]`  
**Output:** `True`

## Example 2:
**Input:** `[10, 20, 30, 40]`, `[20, 50]`  
**Output:** `False`

In [95]:
def contains_sublist(main_list, sub_list):
    n = len(main_list)
    m = len(sub_list)

    for i in range(n - m + 1):
        if main_list[i:i + m] == sub_list:
            return True
    return False


print(contains_sublist([1, 2, 3, 4, 5], [3, 4]))

print(contains_sublist([10, 20, 30, 40], [20, 50]))

True
False

# 20. Find the Kth Largest Element in a List
## Problem Statement:
Write a function to find the `k`th largest element in a list.

## Example 1:
**Input:** `[3, 2, 1, 5, 6, 4]`, `k=2`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `30`

In [96]:
def kth_largest_element(nums, k):
    sorted_nums = sorted(nums, reverse=True)
    return sorted_nums[k - 1]

print(kth_largest_element([3, 2, 1, 5, 6, 4], 2)) 
print(kth_largest_element([10, 20, 30, 40, 50], 3))

5
30

# 21. Find All Duplicates in a List
## Problem Statement:
Write a function to return a list of all duplicate elements.

## Example 1:
**Input:** `[1, 2, 3, 4, 2, 3, 5]`  
**Output:** `[2, 3]`

## Example 2:
**Input:** `[10, 10, 20, 30, 30]`  
**Output:** `[10, 30]`

In [97]:
def find_duplicates(lst):
    seen = set()
    duplicates = []
    for item in lst:
        if item in seen and item not in duplicates:
            duplicates.append(item)
        else:
            seen.add(item)
    return duplicates

print(find_duplicates([1, 2, 3, 4, 2, 3, 5]))      
print(find_duplicates([10, 10, 20, 30, 30]))

[2, 3]
[10, 30]

# 22. Partition a List into Even and Odd Elements
## Problem Statement:
Write a function to split a list into two separate lists, one containing even numbers and the other containing odd numbers.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `([2, 4], [1, 3, 5])`

## Example 2:
**Input:** `[10, 15, 20, 25]`  
**Output:** `([10, 20], [15, 25])`

In [98]:
def partition_even_odd(lst):
    even = []
    odd = []
    for num in lst:
        if num % 2 == 0:
            even.append(num)
        else:
            odd.append(num)
    return even, odd

print(partition_even_odd([1, 2, 3, 4, 5]))
print(partition_even_odd([10, 15, 20, 25]))

([2, 4], [1, 3, 5])
([10, 20], [15, 25])

# 23. Find the First Non-Repeating Element in a List
## Problem Statement:
Write a function to find the first element that does not repeat.

## Example 1:
**Input:** `[4, 5, 1, 2, 0, 4]`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 10, 30, 20]`  
**Output:** `30`

In [100]:
def first_non_repeating(lst):
    for i in lst:
        if lst.count(i) == 1:
            return i
    return None  

print(first_non_repeating([4, 5, 1, 2, 0, 4]))   
print(first_non_repeating([10, 20, 10, 30, 20]))

5
30

# 24. Sort a List Without Using Built-in Sort
## Problem Statement:
Write a function to sort a list in ascending order without using Pythonâ€™s built-in sort.

## Example 1:
**Input:** `[3, 1, 4, 1, 5, 9]`  
**Output:** `[1, 1, 3, 4, 5, 9]`

## Example 2:
**Input:** `[10, 5, 2, 8]`  
**Output:** `[2, 5, 8, 10]`

In [101]:
def custom_sort(lst):
    n = len(lst)
    for i in range(n):
        for j in range(0, n-i-1):
            if lst[j] > lst[j+1]:
                lst[j], lst[j+1] = lst[j+1], lst[j]
    return lst

print(custom_sort([3, 1, 4, 1, 5, 9])) 
print(custom_sort([10, 5, 2, 8]))

[1, 1, 3, 4, 5, 9]
[2, 5, 8, 10]

# 25. Find All Triplets That Sum to Zero
## Problem Statement:
Write a function to find all triplets in a list that sum to zero.

## Example 1:
**Input:** `[-1, 0, 1, 2, -1, -4]`  
**Output:** `[[-1, -1, 2], [-1, 0, 1]]`

## Example 2:
**Input:** `[1, -2, 1, 0, 5]`  
**Output:** `[[-2, 1, 1]]`