# 1. Find the Sum of All Elements in a List
## Problem Statement:
Write a function to return the sum of all elements in a list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `15`

## Example 2:
**Input:** `[10, -2, 3]`  
**Output:** `11`

In [10]:
def sum_manual(a):
    total = 0
    for num in a:
        total += num
    return total
list = [1,2,3,4,5]
print(sum_manual(list))

15

In [11]:
def sum_manual(a):
    total = 0
    for num in a:
        total += num
    return total
list = [10 ,-2 ,3]
print(sum_manual(list))

11

# 2. Find the Maximum Element in a List
## Problem Statement:
Write a function to find the maximum element in a list.

## Example 1:
**Input:** `[3, 5, 1, 9, 2]`  
**Output:** `9`

## Example 2:
**Input:** `[10, 22, 5, 8]`  
**Output:** `22`

In [13]:
def maximum(a):
 return max(a)
b = [3,5,1,9,2]
print(maximum(b))

9

In [14]:
def maximum(a):
 return max(a)
b = [10, 22 ,5 ,8]
print(maximum(b))

22

# 3. Find the Minimum Element in a List
## Problem Statement:
Write a function to find the minimum element in a list.

## Example 1:
**Input:** `[4, 7, 1, 9]`  
**Output:** `1`

## Example 2:
**Input:** `[10, 15, 3, 8]`  
**Output:** `3`

In [16]:
def minimum(a):
 return min(a)
b =[4,7,1,9]
print(minimum(b))

1

In [17]:
def minimum(a):
 return min(a)
b =[10 , 15 ,3 ,8]
print(minimum(b))

3

# 4. Reverse a List
## Problem Statement:
Write a function to reverse a given list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `[5, 4, 3, 2, 1]`

## Example 2:
**Input:** `["a", "b", "c", "d"]`  
**Output:** `["d", "c", "b", "a"]`

In [20]:
def reverse(a):
 return a[::-1]
b= [1,2,3,4,5]
print(reverse(b))

[5, 4, 3, 2, 1]

In [22]:
def reverse(a):
 return a[::-1]
b= ["a" ,"b" ,"c" , "d"]
print(reverse(b))

['d', 'c', 'b', 'a']

# 5. Check if a List is Palindromic
## Problem Statement:
Write a function to check if a list is the same forward and backward.

## Example 1:
**Input:** `[1, 2, 3, 2, 1]`  
**Output:** `True`

## Example 2:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `False`

In [24]:
def palindrome(text):
 return text == text[::-1]
 

a =[1,2,3,2,1]
print(palindrome(a))

True

In [25]:
def palindrome(text):
 return text == text[::-1]
 

a =[1,2,3,4,5]
print(palindrome(a))

False

# 6. Count the Frequency of Elements in a List
## Problem Statement:
Write a function to count the occurrences of each element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `{1: 1, 2: 2, 3: 3}`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "c"]`  
**Output:** `{"a": 2, "b": 1, "c": 3}`

In [26]:
from collections import Counter

def count_occurrences(lst):
    return dict(Counter(lst))  

numbers = [1 ,2,2,3,3,3]
print(count_occurrences(numbers))

{1: 1, 2: 2, 3: 3}

In [27]:
from collections import Counter

def count_occurrences(lst):
    return dict(Counter(lst))  

numbers = ["a", "b", "a", "c", "c", "c"]
print(count_occurrences(numbers))

{'a': 2, 'b': 1, 'c': 3}

# 7. Find the Second Largest Number in a List
## Problem Statement:
Write a function to find the second largest number in a list.

## Example 1:
**Input:** `[10, 20, 4, 45, 99]`  
**Output:** `45`

## Example 2:
**Input:** `[3, 5, 7, 7, 8]`  
**Output:** `7`

In [32]:
def second_largest(lst):
    if len(lst) < 2:
        return None  
    
    first, second = float('-inf'), float('-inf')

    for num in lst:
        if num > first:
            second, first = first, num  
        elif first > num > second:
            second = num  

    return second if second != float('-inf') else None 

# Example usage
numbers = [10,20,4,45,99]
print(second_largest(numbers))

45

In [33]:
def second_largest(lst):
    if len(lst) < 2:
        return None  
    
    first, second = float('-inf'), float('-inf')

    for num in lst:
        if num > first:
            second, first = first, num  
        elif first > num > second:
            second = num  

    return second if second != float('-inf') else None 

# Example usage
numbers = [3 , 5,7,7,8]
print(second_largest(numbers))

7

# 8. Merge Two Sorted Lists
## Problem Statement:
Write a function to merge two sorted lists into a single sorted list.

## Example 1:
**Input:** `[1, 3, 5]`, `[2, 4, 6]`  
**Output:** `[1, 2, 3, 4, 5, 6]`

## Example 2:
**Input:** `[0, 2, 8]`, `[1, 3, 7]`  
**Output:** `[0, 1, 2, 3, 7, 8]`

In [34]:
def merge_sorted_lists(lst1, lst2):
    merged = []
    i, j = 0, 0  
    
    while i < len(lst1) and j < len(lst2):
        if lst1[i] < lst2[j]:
            merged.append(lst1[i])
            i += 1
        else:
            merged.append(lst2[j])
            j += 1
    
    merged.extend(lst1[i:])
    merged.extend(lst2[j:])
    return merged


list1 = [1,3,5]
list2 = [2,4,6]
print(merge_sorted_lists(list1, list2))

[1, 2, 3, 4, 5, 6]

In [35]:
def merge_sorted_lists(lst1, lst2):
    merged = []
    i, j = 0, 0  
    
    while i < len(lst1) and j < len(lst2):
        if lst1[i] < lst2[j]:
            merged.append(lst1[i])
            i += 1
        else:
            merged.append(lst2[j])
            j += 1
    
    merged.extend(lst1[i:])
    merged.extend(lst2[j:])
    return merged


list1 = [0 , 2 ,8]
list2 = [1 , 3 ,7]
print(merge_sorted_lists(list1, list2))

[0, 1, 2, 3, 7, 8]

# 9. Remove Duplicates from a List
## Problem Statement:
Write a function to remove duplicate elements from a list while maintaining order.

## Example 1:
**Input:** `[1, 2, 2, 3, 4, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [36]:
def remove_duplicates(lst):
    seen = set()
    result = []

    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)  

    return result

numbers = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates(numbers))

[1, 2, 3, 4, 5]

In [37]:
def remove_duplicates(lst):
    seen = set()
    result = []

    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)  

    return result

numbers = ["a", "b", "a", "c", "c", "d"]
print(remove_duplicates(numbers))

['a', 'b', 'c', 'd']

# 10. Rotate a List by k Positions
## Problem Statement:
Write a function to rotate a list by `k` positions to the right.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `k=2`  
**Output:** `[4, 5, 1, 2, 3]`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `[30, 40, 50, 10, 20]`

In [38]:
def rotate_list(lst, k):
    if not lst or k % len(lst) == 0:
        return lst  

    k = k % len(lst)  
    return lst[-k:] + lst[:-k]  


numbers = [1, 2, 3, 4, 5]
print(rotate_list(numbers, 2))  #where k = 2

[4, 5, 1, 2, 3]

In [39]:
def rotate_list(lst, k):
    if not lst or k % len(lst) == 0:
        return lst  

    k = k % len(lst)  
    return lst[-k:] + lst[:-k]  


numbers = [10, 20, 30, 40, 50]
print(rotate_list(numbers, 3))  #where k = 3

[30, 40, 50, 10, 20]

# 11. Find the Intersection of Two Lists
## Problem Statement:
Write a function to find the common elements between two lists.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[3, 4, 5, 6]`  
**Output:** `[3, 4]`

## Example 2:
**Input:** `["apple", "banana", "cherry"]`, `["banana", "cherry", "date"]`  
**Output:** `["banana", "cherry"]`

In [42]:
def find_common_elements(lst1, lst2):
    return list(set(lst1) & set(lst2))  

# Example usage
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
print(find_common_elements(list1, list2))

TypeError: 'list' object is not callable

# 12. Find the Union of Two Lists
## Problem Statement:
Write a function to return the union of two lists (without duplicates).

## Example 1:
**Input:** `[1, 2, 3]`, `[3, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "c"]`, `["b", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [43]:
def union_of_lists(list1, list2):
    return list(set(list1) | set(list2))


list_a = [1, 2, 3]
list_b = [3, 4, 5]
result = union_of_lists(list_a, list_b)
print(result)

TypeError: 'list' object is not callable

# 13. Find the Difference Between Two Lists
## Problem Statement:
Write a function to return elements present in the first list but not in the second.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[2, 4, 6]`  
**Output:** `[1, 3]`

## Example 2:
**Input:** `["cat", "dog", "rabbit"]`, `["dog", "rabbit"]`  
**Output:** `["cat"]`

In [44]:
def list_difference(lst1, lst2):
    return list(set(lst1) - set(lst2))


first_list = [1, 2, 3, 4]
second_list = [2,4,6]
print(list_difference(first_list, second_list))

TypeError: 'list' object is not callable

# 14. Find the Mode of a List
## Problem Statement:
Write a function to return the most frequently occurring element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `3`

## Example 2:
**Input:** `["apple", "banana", "apple", "cherry", "apple"]`  
**Output:** `"apple"`

In [46]:
from collections import Counter

def most_frequent(lst):
    return Counter(lst).most_common(1)[0][0]


example_list = [1, 2, 2, 3, 3, 3]
print(most_frequent(example_list))

3

In [47]:
from collections import Counter

def most_frequent(lst):
    return Counter(lst).most_common(1)[0][0]


example_list = ["apple", "banana", "apple", "cherry", "apple"]
print(most_frequent(example_list))

apple

# 15. Flatten a Nested List
## Problem Statement:
Write a function to flatten a nested list into a single list.

## Example 1:
**Input:** `[[1, 2, [3]], 4]`  
**Output:** `[1, 2, 3, 4]`

## Example 2:
**Input:** `[["a", ["b", "c"]], "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [48]:
def flatten(lst):
    flat_list = []
    for item in lst:
        if isinstance(item, list):
            flat_list.extend(flatten(item))
        else:
            flat_list.append(item)
    return flat_list

# Example usage:
nested_list = [[1, 2, [3]], 4]
print(flatten(nested_list))

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

# 16. Find Pairs in a List That Sum to a Target Value
## Problem Statement:
Write a function to find all pairs in a list that sum to a given target.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `target=6`  
**Output:** `[(1, 5), (2, 4)]`

## Example 2:
**Input:** `[2, 4, 6, 8]`, `target=10`  
**Output:** `[(2, 8), (4, 6)]`

In [49]:
def find_pairs(lst, target):
    pairs = []
    seen = set()
    
    for num in lst:
        complement = target - num
        if complement in seen:
            pairs.append((complement, num))
        seen.add(num)
    
    return pairs


numbers = [1, 2, 3, 4, 5]
target_sum = 6
print(find_pairs(numbers, target_sum))

[(2, 4), (1, 5)]

In [50]:
def find_pairs(lst, target):
    pairs = []
    seen = set()
    
    for num in lst:
        complement = target - num
        if complement in seen:
            pairs.append((complement, num))
        seen.add(num)
    
    return pairs


numbers = [2, 4, 6, 8]
target_sum = 10
print(find_pairs(numbers, target_sum))

[(4, 6), (2, 8)]

# 17. Find the Product of All Elements Except Self
## Problem Statement:
Write a function that returns a list where each index contains the product of all numbers except the number at that index.

## Example 1:
**Input:** `[1, 2, 3, 4]`  
**Output:** `[24, 12, 8, 6]`

## Example 2:
**Input:** `[5, 6, 7]`  
**Output:** `[42, 35, 30]`

In [51]:
def product_except_self(nums):
    n = len(nums)
    result = [1] * n
    
   
    left_product = 1
    for i in range(n):
        result[i] = left_product
        left_product *= nums[i]
    
   
    right_product = 1
    for i in range(n - 1, -1, -1):
        result[i] *= right_product
        right_product *= nums[i]
    
    return result


nums = [1, 2, 3, 4]
print(product_except_self(nums))

[24, 12, 8, 6]

In [52]:
def product_except_self(nums):
    n = len(nums)
    result = [1] * n
    
   
    left_product = 1
    for i in range(n):
        result[i] = left_product
        left_product *= nums[i]
    
   
    right_product = 1
    for i in range(n - 1, -1, -1):
        result[i] *= right_product
        right_product *= nums[i]
    
    return result


nums = [5, 6, 7]
print(product_except_self(nums))

[42, 35, 30]

# 18. Find the Longest Consecutive Sequence in a List
## Problem Statement:
Write a function to find the longest sequence of consecutive numbers in a list.

## Example 1:
**Input:** `[100, 4, 200, 1, 3, 2]`  
**Output:** `4  (sequence: [1, 2, 3, 4])`

## Example 2:
**Input:** `[10, 11, 12, 50, 51, 52]`  
**Output:** `3  (sequence: [10, 11, 12])`

In [53]:
def longest_consecutive_sequence(nums):
    num_set = set(nums)
    longest = 0
    
    for num in num_set:
        if num - 1 not in num_set:  
            current_num = num
            current_length = 1
            
            while current_num + 1 in num_set:
                current_num += 1
                current_length += 1
            longest = max(longest, current_length)
    return longest


numbers = [100, 4, 200, 1, 3, 2]
print(longest_consecutive_sequence(numbers))

4

In [54]:
def longest_consecutive_sequence(nums):
    num_set = set(nums)
    longest = 0
    
    for num in num_set:
        if num - 1 not in num_set:  
            current_num = num
            current_length = 1
            
            while current_num + 1 in num_set:
                current_num += 1
                current_length += 1
            longest = max(longest, current_length)
    return longest


numbers = [10, 11, 12, 50, 51, 52]
print(longest_consecutive_sequence(numbers))

3

# 19. Check if a List Contains a Sublist
## Problem Statement:
Write a function to check if a list contains a given sublist.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `[3, 4]`  
**Output:** `True`

## Example 2:
**Input:** `[10, 20, 30, 40]`, `[20, 50]`  
**Output:** `False`

In [55]:
def contains_sublist(lst, sublist):
    n, m = len(lst), len(sublist)
    
    for i in range(n - m + 1):
        if lst[i:i + m] == sublist:
            return True
    
    return False
main_list = [1, 2, 3, 4, 5]
sub_list = [3, 4]
print(contains_sublist(main_list, sub_list))

True

In [56]:
def contains_sublist(lst, sublist):
    n, m = len(lst), len(sublist)
    
    for i in range(n - m + 1):
        if lst[i:i + m] == sublist:
            return True
    
    return False
main_list = [10, 20, 30, 40]
sub_list = [20,50]
print(contains_sublist(main_list, sub_list))

False

# 20. Find the Kth Largest Element in a List
## Problem Statement:
Write a function to find the `k`th largest element in a list.

## Example 1:
**Input:** `[3, 2, 1, 5, 6, 4]`, `k=2`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `30`

In [57]:
import heapq

def kth_largest(nums, k):
    return heapq.nlargest(k, nums)[-1]


numbers = [3, 2, 1, 5, 6, 4]
k = 2
print(kth_largest(numbers, k))

5

In [58]:
import heapq

def kth_largest(nums, k):
    return heapq.nlargest(k, nums)[-1]


numbers = [10, 20, 30, 40, 50]
k = 3
print(kth_largest(numbers, k))

30

# 21. Find All Duplicates in a List
## Problem Statement:
Write a function to return a list of all duplicate elements.

## Example 1:
**Input:** `[1, 2, 3, 4, 2, 3, 5]`  
**Output:** `[2, 3]`

## Example 2:
**Input:** `[10, 10, 20, 30, 30]`  
**Output:** `[10, 30]`

In [70]:
def find_duplicates(lst):
    seen = set()
    duplicates = set()
    
    for num in lst:
        if num in seen:
            duplicates.add(num)
        seen.add(num)
    
    return list(duplicates)


numbers = [1, 2, 3, 4, 2, 3, 5]
print(find_duplicates(numbers))

TypeError: 'list' object is not callable

# 22. Partition a List into Even and Odd Elements
## Problem Statement:
Write a function to split a list into two separate lists, one containing even numbers and the other containing odd numbers.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `([2, 4], [1, 3, 5])`

## Example 2:
**Input:** `[10, 15, 20, 25]`  
**Output:** `([10, 20], [15, 25])`

In [61]:
def split_even_odd(lst):
    evens = []
    odds = []
    
    for num in lst:
        (evens if num % 2 == 0 else odds).append(num)
    
    return evens, odds


numbers = [1, 2, 3, 4, 5]
even_list, odd_list = split_even_odd(numbers)
print("Even numbers:", even_list)  
print("Odd numbers:", odd_list)

Even numbers: [2, 4]
Odd numbers: [1, 3, 5]

In [62]:
def split_even_odd(lst):
    evens = []
    odds = []
    
    for num in lst:
        (evens if num % 2 == 0 else odds).append(num)
    
    return evens, odds


numbers = [10, 15, 20, 25]
even_list, odd_list = split_even_odd(numbers)
print("Even numbers:", even_list)  
print("Odd numbers:", odd_list)

Even numbers: [10, 20]
Odd numbers: [15, 25]

# 23. Find the First Non-Repeating Element in a List
## Problem Statement:
Write a function to find the first element that does not repeat.

## Example 1:
**Input:** `[4, 5, 1, 2, 0, 4]`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 10, 30, 20]`  
**Output:** `30`

In [63]:
from collections import Counter

def first_non_repeating(lst):
    counts = Counter(lst)
    
    for num in lst:
        if counts[num] == 1:
            return num
    
    return None  


numbers = [4, 5, 1, 2, 0, 4]
print(first_non_repeating(numbers))

5

In [64]:
from collections import Counter

def first_non_repeating(lst):
    counts = Counter(lst)
    
    for num in lst:
        if counts[num] == 1:
            return num
    
    return None  


numbers = [10, 20, 10, 30, 20]
print(first_non_repeating(numbers))

30

# 24. Sort a List Without Using Built-in Sort
## Problem Statement:
Write a function to sort a list in ascending order without using Pythonâ€™s built-in sort.

## Example 1:
**Input:** `[3, 1, 4, 1, 5, 9]`  
**Output:** `[1, 1, 3, 4, 5, 9]`

## Example 2:
**Input:** `[10, 5, 2, 8]`  
**Output:** `[2, 5, 8, 10]`

In [65]:
def bubble_sort(arr):
    n = len(arr)
    for i in range(n):
        for j in range(0, n-i-1):
            if arr[j] > arr[j+1]:  
                arr[j], arr[j+1] = arr[j+1], arr[j]
    return arr

my_list = [3, 1, 4, 1, 5, 9]
sorted_list = bubble_sort(my_list)
print("Sorted list:", sorted_list)

Sorted list: [1, 1, 3, 4, 5, 9]

In [66]:
def bubble_sort(arr):
    n = len(arr)
    for i in range(n):
        for j in range(0, n-i-1):
            if arr[j] > arr[j+1]:  
                arr[j], arr[j+1] = arr[j+1], arr[j]
    return arr

my_list = [10, 5, 2, 8]
sorted_list = bubble_sort(my_list)
print("Sorted list:", sorted_list)

Sorted list: [2, 5, 8, 10]

# 25. Find All Triplets That Sum to Zero
## Problem Statement:
Write a function to find all triplets in a list that sum to zero.

## Example 1:
**Input:** `[-1, 0, 1, 2, -1, -4]`  
**Output:** `[[-1, -1, 2], [-1, 0, 1]]`

## Example 2:
**Input:** `[1, -2, 1, 0, 5]`  
**Output:** `[[-2, 1, 1]]`

In [67]:
def find_triplets(arr):
    arr.sort()  
    n = len(arr)
    triplets = []

    for i in range(n - 2):  
        if i > 0 and arr[i] == arr[i - 1]:  
            continue
        left, right = i + 1, n - 1
        
        while left < right:
            total = arr[i] + arr[left] + arr[right]
            if total == 0:
                triplets.append([arr[i], arr[left], arr[right]])
                while left < right and arr[left] == arr[left + 1]: 
                    left += 1
                while left < right and arr[right] == arr[right - 1]: 
                    right -= 1
                left += 1
                right -= 1
            elif total < 0:
                left += 1
            else:
                right -= 1

    return triplets

nums = [1, -2, 1, 0, 5]
print("Triplets that sum to zero:", find_triplets(nums))

Triplets that sum to zero: [[-2, 1, 1]]